<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="language" name="%language" schema="schema/language.exsd"/>
   <extension-point id="buildpathContainerInitializer" name="buildpathContainerInitializer" schema="schema/buildpathContainerInitializer.exsd"/>
   <extension-point id="mixin" name="mixin" schema="schema/mixin.exsd"/>
   <extension-point id="builder" name="builder" schema="schema/builder.exsd"/>
   <extension-point id="typeEvaluators" name="Type Evaluators" schema="schema/goalEvaluators.exsd"/>
   <extension-point id="sourceParsers" name="Source Parsers" schema="schema/sourceParsers.exsd"/>
   <extension-point id="sourceElementParsers" name="Source Element Parsers" schema="schema/sourceElementParsers.exsd"/>

<!-- =================================================================================== -->
<!-- Extension: DLTK Problem                                                             -->
<!-- =================================================================================== -->
<extension id="problem" point="org.eclipse.core.resources.markers" name="%dltkProblemName">
	<super type="org.eclipse.core.resources.problemmarker"/>
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="true"/>
	<attribute name="id"/>
	<attribute name="flags"/>
	<attribute name="arguments"/>
	<attribute name="categoryId"/>
</extension>   

<extension
        id="runtime_problem"
        name="%runtimeproblem"
        point="org.eclipse.core.resources.markers">
     <super type="org.eclipse.core.resources.problemmarker"/>
     <super type="org.eclipse.core.resources.textmarker"/>
     <persistent value="true"/>
  </extension>

<!-- =================================================================================== -->
<!-- Extension: DLTK Buildpath Problem                                                   -->
<!-- =================================================================================== -->
<extension id="buildpath_problem" point="org.eclipse.core.resources.markers" name="%buildPathProblemName">
	<super type="org.eclipse.core.resources.problemmarker"/>
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="true"/>
	<attribute name ="cycleDetected"/>
	<attribute name="id"/>
	<attribute name="arguments"/>
</extension>   

<!-- =================================================================================== -->
<!-- Extension: Script Transient Problem                                                   -->
<!-- =================================================================================== -->
<extension id="transient_problem" point="org.eclipse.core.resources.markers" name="%transientDLTKProblemName">
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="false"/>
	<attribute name="id"/>
	<attribute name="flags"/>
	<attribute name="arguments"/>
</extension>

<extension 
	point="org.eclipse.core.resources.builders" 
	id="scriptbuilder"
	name="%scriptBuilderName">
	<builder>
		<run class="org.eclipse.dltk.internal.core.builder.ScriptBuilder">
		</run>
	</builder>
</extension>
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer class="org.eclipse.dltk.internal.core.DLTKCorePreferenceInitializer"/>
</extension>
<extension
      point="org.eclipse.dltk.core.builder">
   <builder
         class="org.eclipse.dltk.internal.core.mixin.MixinBuilder"
         nature="#">
   </builder>
</extension>

<extension 
	point="org.eclipse.core.resources.builders" 
	id="scriptbuilder"
	name="%scriptBuilderName">
	<builder>
		<run class="org.eclipse.dltk.internal.core.builder.ScriptBuilder">
		</run>
	</builder>
</extension>
</plugin>
