<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="language" name="%extension-point.name.language" schema="schema/language.exsd"/>
   <extension-point id="buildpathContainerInitializer" name="%extension-point.name.buildpathContainerInitializer" schema="schema/buildpathContainerInitializer.exsd"/>
   <extension-point id="mixin" name="%extension-point.name.mixin" schema="schema/mixin.exsd"/>
   <extension-point id="builder" name="%extension-point.name.builder" schema="schema/builder.exsd"/>
   <extension-point id="typeEvaluators" name="%extension-point.name.typeEvaluators" schema="schema/goalEvaluators.exsd"/>
   <extension-point id="sourceParsers" name="%extension-point.name.sourceParsers" schema="schema/sourceParsers.exsd"/>
   <extension-point id="sourceElementParsers" name="%extension-point.name.sourceElementParsers" schema="schema/sourceElementParsers.exsd"/>
   <extension-point id="search" name="%extension-point.name.search" schema="schema/search.exsd"/>
   <extension-point id="selectionEngine" name="%extension-point.name.selectionEngine" schema="schema/selectionEngine.exsd"/>
   <extension-point id="completionEngine" name="%extension-point.name.completionEngine" schema="schema/completionEngine.exsd"/>
   <extension-point id="callHierarchy" name="%extension-point.name.callHierarchy" schema="schema/callHierarchy.exsd"/>
   <extension-point id="problemFactory" name="%extension-point.name.problemFactory" schema="schema/problemFactory.exsd"/>
   <extension-point id="fileHierarchyResolvers" name="%extension-point.name.fileHierarchyResolvers" schema="schema/fileHierarchyResolvers.exsd"/>
   <extension-point id="interpreterContainerExtension" name="%extension-point.name.interpreterContainerExtension" schema="schema/interpreterContainerExtension.exsd"/>

<!-- =================================================================================== -->
<!-- Extension: DLTK Problem                                                             -->
<!-- =================================================================================== -->
<extension id="problem" point="org.eclipse.core.resources.markers" name="%dltkProblemName">
	<super type="org.eclipse.core.resources.problemmarker"/>
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="true"/>
	<attribute name="id"/>
	<attribute name="flags"/>
	<attribute name="arguments"/>
	<attribute name="categoryId"/>
</extension>   

<extension
        id="runtime_problem"
        name="%runtimeProblemName"
        point="org.eclipse.core.resources.markers">
     <super type="org.eclipse.core.resources.problemmarker"/>
     <super type="org.eclipse.core.resources.textmarker"/>
     <persistent value="true"/>
  </extension>

<!-- =================================================================================== -->
<!-- Extension: DLTK Buildpath Problem                                                   -->
<!-- =================================================================================== -->
<extension id="buildpath_problem" point="org.eclipse.core.resources.markers" name="%buildPathProblemName">
	<super type="org.eclipse.core.resources.problemmarker"/>
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="true"/>
	<attribute name ="cycleDetected"/>
	<attribute name="id"/>
	<attribute name="arguments"/>
</extension>   

<!-- =================================================================================== -->
<!-- Extension: Script Transient Problem                                                   -->
<!-- =================================================================================== -->
<extension id="transient_problem" point="org.eclipse.core.resources.markers" name="%transientDLTKProblemName">
	<super type="org.eclipse.core.resources.textmarker"/>
	<persistent value="false"/>
	<attribute name="id"/>
	<attribute name="flags"/>
	<attribute name="arguments"/>
</extension>

<extension 
	point="org.eclipse.core.resources.builders" 
	id="scriptbuilder"
	name="%scriptBuilderName">
	<builder>
		<run class="org.eclipse.dltk.internal.core.builder.ScriptBuilder">
		</run>
	</builder>
</extension>
<extension
      point="org.eclipse.core.runtime.preferences">
   <initializer class="org.eclipse.dltk.internal.core.DLTKCorePreferenceInitializer"/>
</extension>
<extension
      point="org.eclipse.dltk.core.builder">
   <builder
         class="org.eclipse.dltk.internal.core.mixin.MixinBuilder"
         nature="#">
   </builder>
</extension>

<extension 
	point="org.eclipse.core.resources.builders" 
	id="scriptbuilder"
	name="%scriptBuilderName">
	<builder>
		<run class="org.eclipse.dltk.internal.core.builder.ScriptBuilder">
		</run>
	</builder>
</extension>
<extension
      point="org.eclipse.dltk.core.buildpathContainerInitializer">
   <buildpathContainerInitializer
         class="org.eclipse.dltk.internal.core.UserLibraryBuildpathContainerInitializer"
         id="org.eclipse.dltk.USER_LIBRARY">
   </buildpathContainerInitializer>
</extension>
</plugin>
