<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.dltk.tcl.core.tclCommandDetector">
      <detector
            class="org.eclipse.dltk.itcl.internal.core.parser.IncrTclCommandDetector">
      </detector>
   </extension>
   <extension
         point="org.eclipse.dltk.tcl.core.tclCommandProcessor">
      <processor
            class="org.eclipse.dltk.itcl.internal.core.parser.processors.IncrTclClassCommandProcessor"
            id="#itcl#class">
      </processor>
      <processor
            class="org.eclipse.dltk.itcl.internal.core.parser.processors.IncrTclBodyCommandProcessor"
            id="#itcl#body">
      </processor>
      <processor
            class="org.eclipse.dltk.itcl.internal.core.parser.processors.IncrTclConfigBodyCommandProcessor"
            id="#itcl#configbody">
      </processor>
      <processor
            class="org.eclipse.dltk.itcl.internal.core.parser.processors.IncrTclEnsembleCommandProcessor"
            id="#itcl#ensemble">
      </processor>
      <processor
            class="org.eclipse.dltk.itcl.internal.core.parser.processors.IncrTclClassNewInstanceCommandProcessor"
            id="#itcl#$newInstance">
      </processor>
      <processor
            class="org.eclipse.dltk.itcl.internal.core.parser.processors.IncrTclClassMethodCallCommandProcessor"
            id="#itcl#$methodCall">
      </processor>
   </extension>
   <extension
         point="org.eclipse.dltk.tcl.core.tclExtension">
      <tclExtension
            class="org.eclipse.dltk.itcl.internal.core.IncrTclLanguageExtension"
            language="Itcl"
            priority="0">
      </tclExtension>
   </extension>
   <extension
         point="org.eclipse.dltk.tcl.core.tclkeywords">
      <keywords
            class="org.eclipse.dltk.itcl.internal.core.IncrTclKeywords">
      </keywords>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <file-association
            content-type="org.eclipse.dltk.tclContentType"
            file-extensions="itcl,itk">
      </file-association>
   </extension>
</plugin>
