<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
<extension
         point="org.eclipse.ui.newWizards">
      <wizard
             category="org.eclipse.dltk.tcl.ui"
             class="org.eclipse.dltk.xotcl.internal.ui.wizards.XOTclNewFileWizard"
             icon="$nl$/icons/etool16/newfile_wiz.gif"
             id="org.eclipse.dltk.xotcl.wizards.newfile"
             name="%NewFileWizard.name">
          <description>%NewFileWizard.description</description>
       </wizard>
       <wizard
             category="org.eclipse.dltk.tcl.ui"
             class="org.eclipse.dltk.xotcl.internal.ui.wizards.XOTclNewClassWizard"
             icon="$nl$/icons/etool16/newclass_wiz.gif"
             id="org.eclipse.dltk.xotcl.wizards.newclass"
             name="%NewClassWizard.name">
          <description>%NewClassWizard.description</description>
       </wizard>
	</extension>
<extension
      point="org.eclipse.ui.perspectiveExtensions">
   <perspectiveExtension
         targetID="org.eclipse.dltk.tcl.ui.TclPerspective">
      <newWizardShortcut
            id="org.eclipse.dltk.xotcl.wizards.newfile">
      </newWizardShortcut>
      <newWizardShortcut
            id="org.eclipse.dltk.xotcl.wizards.newclass">
      </newWizardShortcut>
   </perspectiveExtension>
</extension>
<extension
      point="org.eclipse.dltk.ui.scriptDocumentationProviders">
   <provider
         class="org.eclipse.dltk.xotcl.internal.ui.documentation.XOTclDocumentationProvider"
         id="org.eclipse.dltk.xotcl.ui.xodoc_provider"
         nature="org.eclipse.dltk.tcl.core.nature">
   </provider>
</extension>
<extension
      point="org.eclipse.ui.actionSets">
   <actionSet
         id="org.eclipse.dltk.xotcl.ui.xotcl"
         label="XOTcl actions">
      <action
            class="org.eclipse.dltk.xotcl.internal.ui.actions.XOTclOpenSuperImplementation"
            id="org.eclipse.dltk.xotcl.ui.openSuperImplementation"
            label="Open Super implementation"
            menubarPath="navigate/open.ext">
      </action>
   </actionSet>
</extension>
<extension
      point="org.eclipse.ui.actionSetPartAssociations">
   <actionSetPartAssociation
         targetID="org.eclipse.dltk.xotcl.ui.xotcl">
      <part
            id="org.eclipse.dltk.tcl.ui.editor.TclEditor">
      </part>
   </actionSetPartAssociation>
</extension>
<extension
      point="org.eclipse.ui.views">
   <view
         category="org.eclipse.dltk.tcl.ui"
         class="org.eclipse.dltk.ui.browsing.ProjectsView:org.eclipse.dltk.tcl.core.nature"
         icon="icons/eview16/tcl_persp.gif"
         id="org.eclipse.dltk.xotcl.ui.Projects"
         name="Tcl Projects">
   </view>   
   <view
         category="org.eclipse.dltk.tcl.ui"
         class="org.eclipse.dltk.ui.browsing.ext.ExtendedClassesView:org.eclipse.dltk.tcl.core.nature"
         icon="icons/eview16/tcl_persp.gif"
         id="org.eclipse.dltk.xotcl.ui.extbrowsing"
         name="Tcl Namespaces/Classes">
   </view>
   <view
         category="org.eclipse.dltk.tcl.ui"
         class="org.eclipse.dltk.ui.browsing.MembersView:org.eclipse.dltk.tcl.core.nature"
         icon="icons/eview16/tcl_persp.gif"
         id="org.eclipse.dltk.xotcl.ui.Members"
         name="Tcl Members">
   </view>
</extension>
 <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="XOTcl browsing"
            icon="icons/eview16/browse_persp.gif"
            class="org.eclipse.dltk.xotcl.internal.ui.browsing.XOTclBrowsingPerspectiveFactory"
            id="org.eclipse.jdt.ui.XOTclBrowsingPerspective">
         <description>
            XOTcl browsing
         </description>
      </perspective>
   </extension>
 <extension
       point="org.eclipse.dltk.tcl.ui.tclSemanticHighlighting">
    <highlightingExtension
          class="org.eclipse.dltk.xotcl.ui.XOTclSemanticHighlightingExtension">
    </highlightingExtension>
 </extension>
</plugin>
