<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.dltk.python.launching.PythonLaunchingPluginPreferenceInitializer">
      </initializer>
   </extension>

   <extension
         point="org.eclipse.dltk.launching.interpreterInstallTypes">
          <interpreterInstallType
            class="org.eclipse.dltk.python.internal.launching.GenericPythonInstallType"
            id="org.eclipse.dltk.internal.debug.ui.launcher.GenericPythonInstallType">
      </interpreterInstallType>   
   </extension>
  
  <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
         <launchConfigurationType
               delegate="org.eclipse.dltk.python.launching.PythonLaunchConfigurationDelegate"
               id="org.eclipse.dltk.python.launching.PythonLaunchConfigurationType"
               modes="run,debug"
               name="%PythonLaunchConfigurationType.name"
               public="true"
               sourceLocatorId="pythonSourceLocator"
               sourcePathComputerId="pythonSourcePathComputer" />
         <launchConfigurationType
               delegate="org.eclipse.dltk.python.launching.PythonRemoteLaunchConfigurationDelegate"
               id="org.eclipse.dltk.python.launching.PythonRemoteLaunchConfigurationType"
               modes="debug"
               name="%PythonRemoteLaunchConfigurationType.name"
               public="true"
               sourceLocatorId="pythonSourceLocator" />               
   </extension>
 
   <extension
        point="org.eclipse.debug.core.sourceLocators">
        <sourceLocator
           class="org.eclipse.dltk.launching.sourcelookup.ScriptSourceLookupDirector"
           id="pythonSourceLocator"
           name="%PythonSourceLocator.name" />
   </extension>
  
   <extension 
        point="org.eclipse.debug.core.sourcePathComputers">
        <sourcePathComputer
            class="org.eclipse.dltk.launching.sourcelookup.ScriptSourcePathComputer"
            id="pythonSourcePathComputer"/>
   </extension>
 
   <extension
         point="org.eclipse.dltk.launching.debuggingEngine">
      <engineContribution
            natureId="org.eclipse.dltk.python.core.nature">
         <selector
               class="org.eclipse.dltk.python.launching.PythonDebuggingEngineSelector">
         </selector>
      </engineContribution>
   </extension>
   
</plugin>
