<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.dltk.tcl.testing.tclTestEngine">
      <testEngine
            class="org.eclipse.dltk.xotcl.testing.internal.xounit.XOUnitTestingEngine"
            id="org.eclipse.dltk.xotcl.testing.xounit.testingEngine"
            priority="0">
      </testEngine>
   </extension>
   <extension
         point="org.eclipse.dltk.testing.memberResolver">
      <resolver
            class="org.eclipse.dltk.xotcl.testing.internal.xounit.XOUnitMemberResolver"
            id="org.eclipse.dltk.xotcl.testing.xounit.testingEngine"
            priority="0">
      </resolver>
   </extension>

</plugin>
