<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
  
  <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
         <launchConfigurationType
               delegate="org.eclipse.dltk.tcl.launching.TclLaunchConfigurationDelegate"
               id="org.eclipse.dltk.tcl.launching.TCLLaunchConfigurationType"
               modes="run,debug"
               name="%TclLaunchConfigurationType.name"
               public="true"
               sourceLocatorId="tclSourceLocator">
		  </launchConfigurationType>
   </extension>
   <extension
        point="org.eclipse.debug.core.sourceLocators">
     <sourceLocator
           class="org.eclipse.dltk.launching.ScriptSourceLookupDirector"
           id="tclSourceLocator"
           name="org.eclipse.dltk.tcl.launching.tclSourceLocator"/>
  </extension>
  <extension
        point="org.eclipse.dltk.launching.debuggingEngine">
     <engineContribution
           natureId="org.eclipse.dltk.tcl.core.nature">
        <engine
              class="org.eclipse.dltk.tcl.launching.debug.ActiveStateDebuggerRunnerFactory"
              description="%ActiveStateDebuggingEngine.description"
              id="org.eclipse.dltk.tcl."
              name="%ActiveStateDebuggingEngine.name"
              priority="0">
        </engine>
     </engineContribution>
  </extension>
  
   <extension
         point="org.eclipse.dltk.console.scriptInterpreter">
      <scriptInterpreter
            class="org.eclipse.dltk.tcl.console.TclInterpreter"
            natureID="org.eclipse.dltk.tcl.core.nature"/>
   </extension>
   <extension
         point="org.eclipse.dltk.launching.interpreterInstallTypes">
          <interpreterInstallType
            class="org.eclipse.dltk.tcl.internal.launching.GenericTclInstallType"
            id="org.eclipse.dltk.internal.debug.ui.launcher.GenericTclInstallType">
      </interpreterInstallType>   
   </extension>
  


</plugin>
