<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.dltk.validators.core.validator">
      <validatorType
            class="org.eclipse.dltk.scriptchecker.internal.core.ScriptCheckerType"
            id="org.eclipse.dltk.scriptchecker"
            nature="org.eclipse.dltk.tcl.core.nature">
      </validatorType>
   </extension>
   <extension
         point="org.eclipse.dltk.validators.ui.validatorConfigPage">
      <validatorConfigPage
            class="org.eclipse.dltk.scriptchecker.internal.ui.ScriptCheckerConfigurationPage"
            id="org.eclipse.dltk.scriptchecker">
      </validatorConfigPage>
   </extension>
   <extension
         point="org.eclipse.dltk.validators.ui.validatorConsoleTracker">
      <validatorConsoleTracker
            class="org.eclipse.dltk.scriptchecker.internal.ui.ScriptCheckerSyntaxConsoleTracker">
      </validatorConsoleTracker>
      <validatorConsoleTracker
            class="org.eclipse.dltk.scriptchecker.internal.ui.ScriptCheckerSyntaxASTStyleConsoleTracker">
      </validatorConsoleTracker>
   </extension>
   <extension
         id="scriptcheckerproblem"
         name="Script Checker Marker"
         point="org.eclipse.core.resources.markers">
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.core.resources.textmarker"/>
      <persistent value="true"/>
   </extension>
</plugin>
