<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<!-- define editor -->
	<extension point="org.eclipse.ui.editors">
		<editor
			name="%JavaScript_Editor.name"
			icon="$nl$/icons/javascript.gif"
			contributorClass="org.eclipse.wst.javascript.ui.internal.actions.MultiPageEditorActionBarContributorJS"
			class="org.eclipse.wst.javascript.ui.internal.editor.JSMultiPageEditorPart"
			symbolicFontName="org.eclipse.wst.sse.ui.textfont"
			id="org.eclipse.wst.javascript.ui.internal.editor.JSMultiPageEditorPart">
			<contentTypeBinding
				contentTypeId="org.eclipse.wst.javascript.core.javascriptsource" />
		</editor>
	</extension>

	<extension point="org.eclipse.ui.editorActions">
        <editorContribution
            targetID="org.eclipse.wst.javascript.core.javascriptsource.source"
            id="org.eclipse.wst.javascript.core.javascriptsource.ruler.actions">
         <action
               label="%AddBookmark.label"
               helpContextId="org.eclipse.ui.bookmark_action_context"
               class="org.eclipse.ui.texteditor.BookmarkRulerAction"
               actionID="RulerDoubleClick"
               id="org.eclipse.ui.texteditor.BookmarkRulerAction"/>
         <action
               label="%SelectRuler.label"
               class="org.eclipse.ui.texteditor.SelectRulerAction"
               actionID="RulerClick"
               id="org.eclipse.ui.texteditor.SelectRulerAction"/>
         
        </editorContribution>
	</extension>

	<!-- editor actionsets -->
	<extension point="org.eclipse.ui.actionSetPartAssociations">
		<actionSetPartAssociation
			targetID="org.eclipse.ui.edit.text.actionSet.annotationNavigation">
			<part
				id="org.eclipse.wst.javascript.core.javascriptsource.source">
			</part>
			<part
				id="org.eclipse.wst.javascript.ui.internal.editor.JSMultiPageEditorPart">
			</part>
		</actionSetPartAssociation>
		<actionSetPartAssociation
			targetID="org.eclipse.ui.NavigateActionSet">
			<part
				id="org.eclipse.wst.javascript.core.javascriptsource.source">
			</part>
			<part
				id="org.eclipse.wst.javascript.ui.internal.editor.JSMultiPageEditorPart">
			</part>
		</actionSetPartAssociation>
	</extension>

	<!-- use a modified annotation model for all JavaScript source files -->
	<extension
		point="org.eclipse.core.filebuffers.annotationModelCreation">
		<factory
			extensions="js"
			contentTypeId="org.eclipse.wst.javascript.core.javascriptsource"
			class="org.eclipse.wst.sse.ui.internal.StructuredResourceMarkerAnnotationModelFactory">
		</factory>
	</extension>

	<!-- Drag and drop handling -->
	<extension point="org.eclipse.wst.sse.ui.dropTargetTransfers">
		<dropTargetContribution
			targetID="org.eclipse.wst.javascript.core.javascriptsource"
			id="org.eclipse.wst.javascript.ui.extendedTransfers">
			<transfer
				priority="mid"
				singleton="true"
				class="org.eclipse.swt.dnd.FileTransfer"
				method="getInstance"
				id="org.eclipse.swt.dnd.FileTransfer">
			</transfer>
			<dropAction
				class="org.eclipse.wst.sse.ui.internal.FileDropAction"
				transferID="org.eclipse.swt.dnd.FileTransfer"
				id="org.eclipse.wst.sse.ui.internal.FileDropAction">
			</dropAction>
			<transfer
				priority="low"
				singleton="true"
				class="org.eclipse.swt.dnd.TextTransfer"
				method="getInstance"
				id="org.eclipse.swt.dnd.TextTransfer">
			</transfer>
			<dropAction
				class="org.eclipse.wst.sse.ui.internal.TextDropAction"
				transferID="org.eclipse.swt.dnd.TextTransfer"
				id="org.eclipse.wst.sse.ui.internal.TextDropAction">
			</dropAction>
		</dropTargetContribution>
	</extension>

	<!-- New JavaScript wizard -->
	<extension point="org.eclipse.ui.newWizards">
		<wizard
			id="org.eclipse.wst.javascript.ui.internal.wizard.NewJSWizard"
			name="%_UI_WIZARD_NAME"
			class="org.eclipse.wst.javascript.ui.internal.wizard.NewJSWizard"
			category="org.eclipse.wst.web.ui"
			icon="$nl$/icons/full/ctool16/newjscript_wiz.gif">
			<description>%_UI_WIZARD_CREATE_NEW_FILE</description>
			<selection class="org.eclipse.core.resources.IResource" />
		</wizard>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<!-- JAVASCRIPT PREFERENCE PAGES -->
		<page
			name="%JavaScript_Files.name"
			category="org.eclipse.wst.sse.ui.internal.provisional.preferences"
			class="org.eclipse.wst.javascript.ui.internal.common.preferences.ui.JavaScriptFilesPreferencePage"
			id="org.eclipse.wst.sse.javascript.preferences">
			<keywordReference id="org.eclipse.wst.javascript.ui.files"/>
		</page>
		<page
			name="%JavaScript_Source.name"
			category="org.eclipse.wst.sse.javascript.preferences"
			class="org.eclipse.wst.javascript.ui.internal.common.preferences.ui.JavaScriptSourcePreferencePage"
			id="org.eclipse.wst.sse.javascript.preferences.source">
			<keywordReference id="org.eclipse.wst.javascript.ui.source"/>
		</page>
		<page
			name="%JS_Syntax_Coloring"
			category="org.eclipse.wst.sse.javascript.preferences"
			class="org.eclipse.wst.javascript.ui.internal.common.preferences.ui.JSSyntaxColoringPage"
			id="org.eclipse.wst.sse.javascript.preferences.styles">
			<keywordReference id="org.eclipse.wst.javascript.ui.styles"/>
		</page>
	</extension>
	
	<!-- Keywords for preference and properties pages -->
	<extension point="org.eclipse.ui.keywords">
		<keyword
			label="%preferenceKeywords.files"
			id="org.eclipse.wst.javascript.ui.files"/>
		<keyword
			label="%preferenceKeywords.source"
			id="org.eclipse.wst.javascript.ui.source"/>
		<keyword
			label="%preferenceKeywords.styles"
			id="org.eclipse.wst.javascript.ui.styles"/>
    </extension>
	
	<!-- initialize javascript ui preferences -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.wst.javascript.ui.internal.common.preferences.JSCommonUIPreferenceInitializer" />
	</extension>
	<extension point="org.eclipse.wst.sse.ui.editorConfiguration">
		<provisionalDefinition
			type="preferencepages"
			value="org.eclipse.wst.sse.javascript.preferences, org.eclipse.wst.sse.javascript.preferences.source, org.eclipse.wst.sse.javascript.preferences.styles"
			target="org.eclipse.wst.javascript.core.javascriptsource" />
  <contentOutlineConfiguration
        class="org.eclipse.wst.javascript.ui.internal.views.contentoutline.JavaScriptContentOutlineConfiguration"
        target="org.eclipse.wst.javascript.core.javascriptsource">
  </contentOutlineConfiguration>
	</extension>

	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="org.eclipse.wst.javascript.core.javascriptsource.source.RulerContext"
			id="org.eclipse.ui.texteditor.ruler.context.actions">
			<action
				label="%AddTask.label"
				helpContextId="org.eclipse.ui.AddTask_action_context"
				class="org.eclipse.ui.texteditor.TaskRulerAction"
				tooltip="%AddTask.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.TaskRulerAction">
			</action>
			<action
				label="%AddBookmark.label"
				helpContextId="org.eclipse.ui.bookmark_action_context"
				class="org.eclipse.ui.texteditor.BookmarkRulerAction"
				tooltip="%AddBookmark.tooltip"
				menubarPath="additions"
				id="org.eclipse.ui.texteditor.BookmarkRulerAction">
			</action>
		</viewerContribution>
	</extension>
</plugin>
