<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   
  <extension point="org.eclipse.core.runtime.preferences">
    <initializer 
      class="org.eclipse.dltk.tcl.internal.debug.TclDebugPreferenceInitializer"/>
  </extension>   
   
   <extension
         point="org.eclipse.dltk.debug.scriptDebugModel">
      <debugModel
            debugModelId="org.eclipse.dltk.debug.tclModel"
            natureId="org.eclipse.dltk.tcl.core.nature"
            typeFactory="org.eclipse.dltk.tcl.internal.debug.TclTypeFactory">
      </debugModel>
   </extension>
</plugin>
