img{
border:0px;
}
a img{
text-decoration:none;
}
a{
color:#9999cc; 
}
table{
border-collapse:collapse;
}
body{
text-align:center;
font-family:Arial, Tahoma, Verdana, sans-serif;
font-size:12px;
background:#9999cc;
margin:0px;
padding:0px;
}
div#container{
text-align:left;
padding:0px;
}
div.grad{
color:#fff;
position:relative;
background:url(images/downloads_head.png) repeat-x;
}
div.blue{
color:#fff;
position:relative;
clear:both;
background:#9999cc;
}
div.white{
color:#000;
position:relative;
background:#fff;
clear:both;
}
div#summary{
color:#fff;
padding-top:40px;
width:900px;
margin:0px auto;
}
div#summary h1{
font-size:32px;
font-weight:normal;
padding-bottom:0px;
line-height:6px;
}
div#summary h4{
font-size:11px;
font-weight:normal;
padding-bottom:30px;
}
div#summary p{
padding:0px;
margin:0px;
line-height:17px;
}
div#header{
padding-bottom:50px;
}
div#header a{
color:#fff;
}
div#latest{
color:#000;
width:900px;
margin:0px auto;
padding:0px 0px 25px 0px;
}
div#latest table{
border-spacing:10px 10px;
}
div#latest td{
width:270px;
height:184px;
padding:0px 0px 0px 78px;
margin:0px 0px 0px 0px;
vertical-align:top;
}
td#M{
background:url("images/latest_m.png") no-repeat;
}
td#R{
background:url("images/latest_r.png") no-repeat;
}
td#S{
background:url("images/latest_s.png") no-repeat;
}
td#I{
background:url("images/latest_i.png") no-repeat;
}
div#latest td h3{
font-size:18px;
font-weight:bold;
line-height:18px;
margin:0px 0px 0px 0px;
padding:30px 0px 0px 0px;
position:relative;
bottom:12px;
}
div#latest td p{
font-size:11px;
line-height:27px;
padding:0px;
margin:0px 0px 0px 0px;
position:relative;
bottom:4px;
}
div#latest td a{
color:#9999cc;
font-size:11px;
padding:2px 10px 8px 25px;
margin:0px 0px 0px 0px;
background:url(images/download_button.png) no-repeat 0 0;
}
div#list{
padding-top:10px;
width:900px;
margin:0px auto;
}
div#list h3{
font-weight:bold;
font-size:14px;
color:#fff;
height:30px;
padding:35px 0px 0px 0px;
margin:20px 0px 0px 0px;
width:100%;
text-indent:74px;
}
div#M_list h3{
background:url(images/capt_m.png) no-repeat 0 0;
}
div#R_list h3{
background:url(images/capt_r.png) no-repeat 0 0;
}
div#S_list h3{
background:url(images/capt_s.png) no-repeat 0 0;
}
div#I_list h3{
background:url(images/capt_i.png) no-repeat 0 0;
}
div#list th{
background:url(images/capt_list.png) repeat-x;
height:23px;
padding:0px 0px 0px 18px;
margin:0px
font-weight:bold;
text-align:left;
}
div#list td{
padding:0px 0px 0px 18px;
margin:0px;
height:27px;
border-bottom:1px solid #eaeaea;
}
div#list td img{
padding:0px 4px 0px 0px;
position:relative;
top:2px;
}
div#legend{
float:right;
padding:40px 0px 0px 0px;
margin:0px;
font-size:11px;
color:#7f7f7f;
line-height:40px;
}
div#legend td{
border:none;
padding:0px;
margin:0px;
width:178px;
}
div#footer{
color:#fff;
padding:40px 0px 40px 0px;
width:900px;
margin:0px auto;
font-size:11px;
line-height:16px;
}
div#footer p{
padding:0px;
margin:0px;
}
div#build{
padding-top:50px;
width:900px;
margin:0px auto;
}
div.build_item{
padding-bottom:50px;
}
div.build_item h3{
font-weight:bold;
font-size:14px;
color:#fff;
height:24px;
padding:4px 0px 0px 18px;
margin:0px 0px 0px 0px;
width:100%;
background:url(images/capt_empty.png) no-repeat;
font-weight:bold;
}
div.build_item h4{
width:872px;
background:url(images/capt_list.png) repeat-x bottom;
padding:4px 0px 8px 18px;
margin:0px;
line-height:17x;
font-size:12px;
font-weight:bold;
}
div.build_item table{
width:890px;
}
div.build_item td{
padding:3px 0px 3px 18px;
margin:0px;
border-bottom:1px solid #eaeaea;
line-height:17px;
vertical-align:top;
}
div.build_item td img{
padding:0px 4px 0px 12px;
position:relative;
top:2px;
}
.bold{
font-weight:bold;
}
