<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="tclCommandProcessor" name="tclCommandProcessor" schema="schema/tclCommandProcessor.exsd"/>
   <extension-point id="tclCommandDetector" name="tclCommandDetector" schema="schema/tclCommandDetector.exsd"/>
   <extension-point id="tclkeywords" name="tclkeywords" schema="schema/tclkeywords.exsd"/>
   <extension-point id="tclExtension" name="tclExtension" schema="schema/tclExtension.exsd"/>
   <extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.dltk.tcl.core.TclNature"/>
      </runtime>
   </extension> 
   
   <extension
         point="org.eclipse.dltk.core.language">
      <language
            class="org.eclipse.dltk.tcl.core.TclLanguageToolkit"
            nature="org.eclipse.dltk.tcl.core.nature"/>
   </extension>
   <extension
         point="org.eclipse.dltk.core.sourceElementParsers">
      <parser
            class="org.eclipse.dltk.tcl.internal.parser.TclSourceElementParser"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="0">
      </parser>
   </extension>
   <extension
         point="org.eclipse.dltk.core.selectionEngine">
      <selectionEngine
            class="org.eclipse.dltk.tcl.internal.core.codeassist.TclSelectionEngine"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="0">
      </selectionEngine>
   </extension>
   <extension
         point="org.eclipse.dltk.core.completionEngine">
      <completionEngine
            class="org.eclipse.dltk.tcl.internal.core.codeassist.TclCompletionEngine"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="0">
      </completionEngine>
   </extension>
   <extension
         point="org.eclipse.dltk.core.search">
      <seachFactory
            class="org.eclipse.dltk.tcl.internal.core.TclSearchFactory"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="0">
      </seachFactory>
   </extension>
   <extension
         point="org.eclipse.dltk.core.callHierarchy">
      <callHerarchiesFactory
            class="org.eclipse.dltk.tcl.internal.core.TclCallHierarchyFactory"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="0">
      </callHerarchiesFactory>
   </extension>
   <extension
        point="org.eclipse.core.runtime.contentTypes">
     <content-type
           file-extensions="tcl,test,exp"
           id="org.eclipse.dltk.tclContentType"
           name="%tclContentType"
           priority="high">
        <describer
              class="org.eclipse.dltk.tcl.core.TclContentDescriber"
              plugin="org.eclipse.dltk.tcl.core">
        </describer>       
     </content-type>
  </extension>
   <extension
         point="org.eclipse.dltk.core.sourceParsers">
      <parserContribution
            natureId="org.eclipse.dltk.tcl.core.nature">
         <parser
               class="org.eclipse.dltk.tcl.internal.parser.TclSourceParserFactory"
               description="%sourceParser.description"
               id="org.eclipse.dltk.tcl.sourceParser"
               name="%sourceParser.name"
               priority="0" />
      </parserContribution>
   </extension>
   <extension
         point="org.eclipse.dltk.tcl.core.tclkeywords">
      <keywords
            class="org.eclipse.dltk.tcl.core.TclKeywords">
      </keywords>
   </extension>
 <extension
         name="tcl commands"
         point="org.eclipse.dltk.tcl.core.tclCommandProcessor">
      <!--processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclSwitchCommandProcessor"
            id="switch"></processor-->
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclNamespaceProcessor"
            id="namespace"></processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclProcProcessor"
            id="proc">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclVariableProcessor"
            id="set">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclUpvarProcessor"
            id="upvar">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclGlobalVariableProcessor"
            id="global">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclPackageProcessor"
            id="package">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclCatchProcessor"
            id="catch">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclIfProcessor"
            id="if">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclNamespaceVariableProcessor"
            id="variable">
      </processor>
      <!--processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclSwitchCommandProcessor"
            id="switch">
      </processor-->
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclForCommandProcessor"
            id="for">
      </processor>
      <processor
            class="org.eclipse.dltk.tcl.internal.core.parser.processors.tcl.TclForeachCommandProcessor"
            id="foreach">
      </processor>
   </extension>
 <extension
         point="org.eclipse.dltk.core.mixin">
      <mixin
            class="org.eclipse.dltk.tcl.internal.core.search.mixin.TclMixinParser"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="0">
      </mixin>
   </extension>
</plugin>
