<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>      
   <extension
	point="org.eclipse.debug.ui.launchConfigurationTypeImages">
 		<launchConfigurationTypeImage
			icon="icons/ruby.gif"
			configTypeID="org.eclipse.dltk.ruby.launching.RubyLaunchConfigurationType"
			id="org.eclipse.dltk.ruby.debug.ui.launchConfigurationTypeImage.localTCLScript">
		</launchConfigurationTypeImage>
   </extension>
   
  
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.eclipse.dltk.ruby.launching.RubyLaunchConfigurationType"
            class="org.eclipse.dltk.ruby.internal.debug.ui.launchConfigurations.RubyTabGroup"
            id="org.eclipse.dltk.ruby.debug.ui.RubyTabGroup">
      </launchConfigurationTabGroup>
   </extension>
   
  
   <extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
          class="org.eclipse.dltk.ruby.internal.debug.ui.launcher.RubyLaunchShortcut"
          icon="icons/ruby.gif"
          id="org.eclipse.dltk.ruby.debug.ui.launchShortcut"
          label="Ruby Script"
          modes="run, debug">
		<perspective id="org.eclipse.dltk.ruby.ui.RubyPerspective"/>
         <perspective
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspective> 
        <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                <or>
           	     <test property="org.eclipse.dltk.launching.hasProjectNature" args="org.eclipse.dltk.ruby.core.nature"/>           	  
               	</or>
               </iterate>
               </with>
           </enablement>
  		 </contextualLaunch>
	</shortcut>
	</extension>
	
	<extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.debug.ui.launchActionSet">
         <part
               id="org.eclipse.dltk.ruby.ui.editor.RubyEditor">
         </part>
      </actionSetPartAssociation>
   </extension>


<extension
         point="org.eclipse.ui.console.consolePatternMatchListeners">
      <consolePatternMatchListener
            class="org.eclipse.dltk.ruby.internal.debug.ui.console.RubyConsoleTracker"
            id="org.eclipse.dltk.ruby.debug.ui.RubyConsoleTracker"
            regex="((\w:)?[^:]+):(\d+)">
         <enablement>
            <or>
               <test property="org.eclipse.debug.ui.processTypeTest" value="rubyInterpreter"/>
            </or>
         </enablement>
      </consolePatternMatchListener>
     
   </extension>  

   <extension
         point="org.eclipse.ui.preferencePages">
      <page
		    category="org.eclipse.dltk.ruby.preferences"
            class="org.eclipse.dltk.ruby.internal.debug.ui.interpreters.RubyInterpreterPreferencePage"
            id="org.eclipse.dltk.ruby.preferences.interpreters"
            name="Interpreters"/>
            
      <page
            category="org.eclipse.dltk.ruby.preferences"
            class="org.eclipse.dltk.ruby.internal.debug.ui.preferences.RubyDebugPreferencePage"
            id="org.eclipse.dltk.ruby.preferences.debug"
            name="Debug"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.debug.ui.launchActionSet">
         <part
               id="org.eclipse.dltk.ui.ScriptExplorer">
         </part>
         <part
               id="org.eclipse.dltk.ruby.ui.editor.RubyEditor">
         </part>
      </actionSetPartAssociation>
   </extension>   
   <extension
         point="org.eclipse.dltk.ui.buildpathContainerPage">
      <buildpathContainerPath
            class="org.eclipse.dltk.ruby.internal.debug.ui.interpreters.RubyInterpreterContainerWizardPage"
            id="org.eclipse.dltk.ruby.launching.INTERPRETER_CONTAINER"
            name="Ruby Interpreter Libraries"
            nature="org.eclipse.dltk.ruby.core.nature"/>
   </extension>
          
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            targetID="org.eclipse.dltk.ruby.ui.editor.RubyEditor"
            id="org.eclipse.dltk.ruby.ui.editor.RubyEditor.BreakpointRulerActions">
          
         <action
             label="Toogle Breakpoint (label not used)"
             class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
             style="push"
             actionID="RulerDoubleClick"
             id="RubyEditor.doubleClickBreakpointAction"/>
            
      </editorContribution>   
 </extension>
 
  <extension
       point="org.eclipse.ui.popupMenus">
         
                      
    <viewerContribution
          id="org.eclipse.dltk.ruby.debug.ui.rulerContribution"
          targetID="#RubyRulerContext">

         <action
               label="%EnableDisableBreakpoint.label"
			   id="org.eclipse.dltk.ruby.ui.actions.RulerEnableDisableBreakpointActionDelegate"
               class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"               
               menubarPath="debug">
          </action>
         
         <action
         	   label="%ToggleBreakpoint.label"
         	   id="org.eclipse.dltk.ruby.ui.actions.RulerToggleBreakpointActionDelegate"
               class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"                           
               menubarPath="debug">
         </action>        
       
       <action
             class="org.eclipse.dltk.debug.ui.actions.ScriptBreakpointPropertiesRulerActionDelegate"
             id="org.eclipse.dltk.ruby.debug.ui.ScriptBreakpointPropertiesRulerActionDelegate"
             label="%BreakpointProperties.label"
             menubarPath="additions"/>
    </viewerContribution>    
 </extension>
 
 
 
  <extension point="org.eclipse.debug.ui.debugModelContextBindings">
	<modelContextBinding contextId="org.eclipse.dltk.debug.ui.debugging" debugModelId="org.eclipse.dltk.debug.rubyModel"/>
</extension>
  
  <extension
        point="org.eclipse.debug.core.watchExpressionDelegates">
     <watchExpressionDelegate
           debugModel="org.eclipse.dltk.debug.rubyModel"
           delegateClass="org.eclipse.dltk.internal.debug.core.model.ScriptWatchExpressionDelegate">
     </watchExpressionDelegate>
  </extension>
  
  <extension
         point="org.eclipse.debug.ui.debugModelPresentations">
      <debugModelPresentation
            class="org.eclipse.dltk.ruby.internal.debug.ui.RubyDebugModelPresentation"
            id="org.eclipse.dltk.debug.rubyModel">
      </debugModelPresentation>
   </extension>
  <extension
        point="org.eclipse.ui.popupMenus">
       <viewerContribution
            targetID="#RubyEditorContext"
            id="org.eclipse.dltk.debug.ui.CUPopupActions">
         <visibility>
            <and>
               <systemProperty
                     name="org.eclipse.dltk.debug.ui.debuggerActive"
                     value="true">
               </systemProperty>
               <objectClass
                     name="org.eclipse.jface.text.ITextSelection">
               </objectClass>
            </and>
         </visibility>        
       <action
               label="%Watch.label"
               icon="$nl$/icons/full/etool16/watch_exp.gif"
               class="org.eclipse.dltk.internal.debug.ui.actions.ScriptWatchAction"
               menubarPath="additions"
               id="org.eclipse.dltk.debug.ui.cuPopup.Watch">
       </action>
       </viewerContribution>
  </extension>
  
   <extension
         point="org.eclipse.dltk.ui.editorTextHovers">
      <hover
            label="Ruby text hover"
            description="Ruby variable hover"
            class="org.eclipse.dltk.ruby.internal.debug.ui.RubyDebugHover"
            id="org.eclipse.dltk.ruby.internal.debug.ui.RubyDebugHover">
      </hover>
   </extension>
 
</plugin>
