<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension point="org.eclipse.dltk.launching.debuggingEngine">
		<engineContribution
			natureId="org.eclipse.dltk.ruby.core.nature">
			<engine
         class="org.eclipse.dltk.ruby.basicdebugger.RubyBasicDebuggerRunnerFactory"
         description="%BasicDebuggingEngine.description"
         id="org.eclipse.dltk.ruby.basicdebugger"
         name="%BasicDebuggingEngine.name"
         preferencePageId="org.eclipse.dltk.ruby.preferences.debug.basicdebugger"
         priority="0">
			</engine>
			<selector
				class="">
			</selector>
		</engineContribution>
	</extension>
 <extension
       point="org.eclipse.ui.preferencePages">
    <page
          category="org.eclipse.dltk.ruby.preferences.debug"
          class="org.eclipse.dltk.ruby.basicdebugger.preferences.RubyBasicDebuggerPreferencePage"
          id="org.eclipse.dltk.ruby.preferences.debug.basicdebugger"
          name="%BasicRubyDebuggerPreferencePage.name">
    </page>
 </extension>
</plugin>
