<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.dltk.javascript.internal.ui.editor.JavaScriptEditor"
            contributorClass="org.eclipse.dltk.internal.ui.editor.SourceModuleEditorActionContributor"
            default="true"
            extensions="js"
            icon="icons/obj16/sourceEditor.gif"
            id="org.eclipse.dltk.javascript.ui.editor.JavascriptEditor"
            name="DLTK Javascript Editor">
         <contentTypeBinding
               contentTypeId="org.eclipse.dltk.javascriptContentType">
         </contentTypeBinding>
      </editor>
   </extension>   
   <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.eclipse.dltk.javascript.internal.ui.JavaScriptUIPreferenceInitializer"/>
    </extension>
    <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="org.eclipse.dltk.javascript.internal.ui.search.JavaScriptSearchPage"
            enabled="true"
            extensions="tcl:90, exp:90"
            icon="/icons/obj16/jsearch_obj.gif"
            id="org.eclipse.dltk.ui.TCLSearchPage"
            label="%DLTKSearchPage.label"
            showScopeSection="true"
            sizeHint="460,160">
      </page>      
   </extension>
   <extension
       point="org.eclipse.ui.actionSets">
        <actionSet
            label="%CodingActionSet.label"
            description="%CodingActionSet.description"
            visible="false"
            id="org.eclipse.dltk.javascript.ui.CodingActionSet">
<!-- =========================================================================== -->
<!-- Refactoring Menu                                                            -->
<!-- =========================================================================== -->       
	         
       
<!-- =========================================================================== -->
<!-- Source Menu                                                                 -->
<!-- =========================================================================== -->
         <menu
               label="%SourceMenu.label"
               path="edit"
               id="org.eclipse.dltk.ui.source.menu">
		    <separator
                  name="commentGroup">
            </separator>
            <separator
                  name="editGroup">
            </separator>
            <separator
                  name="importGroup">
            </separator>
            <separator
                  name="generateGroup">
            </separator>
            <separator
                  name="codeGroup">
            </separator>
            <separator
                  name="externalizeGroup">
            </separator>
            <separator
                  name="convertGroup">
            </separator>
         </menu>
         <!-- Comment Group -->
         <!--action
               definitionId="org.eclipse.jdt.ui.edit.text.java.add.javadoc.comment"
               label="%AddJavaDocCommentAction.label"
               retarget="true"
               menubarPath="org.eclipse.jdt.ui.source.menu/commentGroup"
               id="org.eclipse.jdt.ui.actions.AddJavaDocComment">
         </action-->
         <action
               definitionId="org.eclipse.dltk.ui.edit.text.script.quick.format"
               label="%FormatElementAction.label"
               retarget="true"
               menubarPath="org.eclipse.dltk.ui.source.menu/editGroup"
               id="org.eclipse.dltk.ui.actions.FormatElement">
         </action>
         <action
               definitionId="org.eclipse.dltk.ui.edit.text.script.format"
               label="%FormatAction.label"
               retarget="true"
               menubarPath="org.eclipse.dltk.ui.source.menu/editGroup"
               id="org.eclipse.dltk.ui.actions.Format">
         </action>
         <action
               definitionId="org.eclipse.dltk.ui.edit.text.script.indent"
               label="%IndentAction.label"
               retarget="true"
               menubarPath="org.eclipse.dltk.ui.source.menu/editGroup"
               id="org.eclipse.dltk.ui.actions.Indent">
         </action>
         <action
               definitionId="org.eclipse.ui.edit.text.shiftLeft"
               label="%ShiftLeftAction.label"
               retarget="true"
               menubarPath="org.eclipse.dltk.ui.source.menu/editGroup"
               id="org.eclipse.dltk.ui.actions.ShiftLeft">
         </action>
         <action
               definitionId="org.eclipse.ui.edit.text.shiftRight"
               label="%ShiftRightAction.label"
               retarget="true"
               menubarPath="org.eclipse.dltk.ui.source.menu/editGroup"
               id="org.eclipse.dltk.ui.actions.ShiftRight">
         </action>
         <action
               definitionId="org.eclipse.dltk.ui.edit.text.script.uncomment"
               label="%UncommentAction.label"
               retarget="true"
               id="org.eclipse.dltk.ui.actions.Uncomment">
         </action>
         <action
               definitionId="org.eclipse.dltk.ui.edit.text.script.comment"
               label="%CommentAction.label"
               retarget="true"
               id="org.eclipse.dltk.ui.actions.Comment">
         </action>
		<action
               definitionId="org.eclipse.dltk.ui.edit.text.script.remove.block.comment"
               label="%RemoveBlockCommentAction.label"
               retarget="true"
               menubarPath="org.eclipse.dltk.ui.source.menu/commentGroup"
               id="org.eclipse.dltk.ui.actions.RemoveBlockComment">
         </action>
         <action
               definitionId="org.eclipse.dltk.ui.edit.text.script.add.block.comment"
               label="%AddBlockCommentAction.label"
               retarget="true"
               menubarPath="org.eclipse.dltk.ui.source.menu/commentGroup"
               id="org.eclipse.dltk.ui.actions.AddBlockComment">
         </action>
      </actionSet>
 </extension>
   <extension
      id="org.eclipse.dltk.javascript.ui.editor.DocumentSetupParticipant"
      name="%documentSetupParticipantName"
      point="org.eclipse.core.filebuffers.documentSetup">
		<participant extensions="js" 
			class="org.eclipse.dltk.javascript.internal.ui.editor.JavaScriptDocumentSetupParticipant">
   		</participant>
	</extension>
	<extension
       point="org.eclipse.ui.bindings">
       <key
            sequence="M1+M2+/"
            contextId="org.eclipse.dltk.ui.javascriptEditorScope"
            commandId="org.eclipse.dltk.ui.edit.text.script.add.block.comment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <!-- free this on MAC, see: https://bugs.eclipse.org/bugs/show_bug.cgi?id=113981 -->
      <key
            platform="carbon"
            sequence="M1+M2+/"
            contextId="org.eclipse.dltk.ui.javascriptEditorScope"
            commandId=""
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>

      <key
            sequence="M1+M2+\"
            contextId="org.eclipse.dltk.ui.javascriptEditorScope"
            commandId="org.eclipse.dltk.ui.edit.text.script.remove.block.comment"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <key
            sequence="M1+I"
            contextId="org.eclipse.dltk.ui.javascriptEditorScope"
            commandId="org.eclipse.dltk.ui.edit.text.script.indent"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
            
 	<key
            sequence="M1+M2+F"
            contextId="org.eclipse.dltk.ui.javascriptEditorScope"
            commandId="org.eclipse.dltk.ui.edit.text.script.format"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
      <!-- alternative for some gtk input modes -->
      <key
            platform="gtk"
            sequence="ESC CTRL+F"
            contextId="org.eclipse.dltk.ui.javascriptEditorScope"
            commandId="org.eclipse.dltk.ui.edit.text.script.format"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>                   
 	</extension>
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.dltk.javascript.ui"
            name="DLTK Javascript"
            >
      </category>
      <wizard
            category="org.eclipse.dltk.javascript.ui"
            class="org.eclipse.dltk.javascript.internal.ui.wizards.JavascriptProjectCreationWizard"
            finalPerspective="org.eclipse.dltk.javascript.ui.JavascriptPerspective"
            icon="icons/ctool16/newjscript_wiz.gif"
            id="org.eclipse.dltk.javascript.internal.ui.wizards.JavascriptProjectWizard"
            name="Javascript Project"
            preferredPerspectives="org.eclipse.dltk.javascript.ui.JavascriptPerspective"
            project="true">
         <description>
            Creates new Javascript Project.
         </description>
      </wizard>
       <wizard
             category="org.eclipse.dltk.javascript.ui"
             class="org.eclipse.dltk.javascript.internal.ui.wizards.JavaScriptFileCreationWizard"
             icon="icons/ctool16/newjscript_wiz.gif"
             id="org.eclipse.dltk.javascript.internal.ui.wizards.JavaScriptFileCreationWizard"
             name="%NewJsFile.label">
          <description>
          	Creates new JavaScript Source File.
          </description>
       </wizard>
      </extension>
      <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.eclipse.dltk.javascript.internal.ui.JavaScriptUIPreferenceInitializer"/>
    </extension>
    
    <extension
       point="org.eclipse.ui.preferencePages"> 	          
	    <page	          
	          class="org.eclipse.dltk.javascript.internal.ui.preferences.JavascriptGlobalPreferencesPage"
	          id="org.eclipse.dltk.javascript.ui.javascript"
	          name="Javascript"/>
	    <page
	          category="org.eclipse.dltk.javascript.ui.javascript"
	          class="org.eclipse.dltk.javascript.internal.ui.preferences.JavascriptEditorPreferencesPage"
	          id="org.eclipse.dltk.javascript.ui.EditorPreferences"
	          name="Editor"/>
	    <page
	          category="org.eclipse.dltk.javascript.ui.EditorPreferences"
	          class="org.eclipse.dltk.javascript.internal.ui.preferences.JavascriptEditorSyntaxColoringPreferencePage"
	          id="org.eclipse.dltk.javascript.ui.editor.SyntaxColoring"
	          name="Syntax Coloring"/>
	    <page
	          category="org.eclipse.dltk.javascript.ui.EditorPreferences"
	          class="org.eclipse.dltk.javascript.internal.ui.preferences.JavascriptSmartTypingPreferencePage"
	          id="org.eclipse.dltk.javascript.ui.editor.SmartTyping"
	          name="Typing"/>          
	    <page
          category="org.eclipse.dltk.javascript.ui.EditorPreferences"
          class="org.eclipse.dltk.javascript.internal.ui.preferences.JavascriptFoldingPreferencePage"
          id="org.eclipse.dltk.javascript.ui.editor.JavascriptFolding"
          name="Folding"/>
	<page
           category="org.eclipse.dltk.javascript.ui.EditorPreferences"
           class="org.eclipse.dltk.javascript.internal.ui.templates.JavaScriptTemplatePreferencePage"
           id="javascriptTemplatePreferencePage"
           name="Templates">
     </page>	          
	 </extension>
	 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.eclipse.dltk.javascript.ui.JavascriptPerspective"
          icon="icons/eview16/javascript_persp.gif"
          id="org.eclipse.dltk.javascript.ui.JavascriptPerspective"
          name="%JavascriptPerspectiveName"/>
 </extension>
  <extension
       point="org.eclipse.ui.propertyPages">
    <page
          adaptable="true"
          class="org.eclipse.dltk.javascript.internal.ui.preferences.JavaScriptBuildPathPropertyPage"
          id="org.eclipse.dltk.javascript.ui.BuildpathProperties"
          name="Javascript Build Path"
          objectClass="org.eclipse.core.resources.IProject">
       <filter
             name="nature"
             value="org.eclipse.dltk.javascript.core.nature">
       </filter>       
    </page>    
 
 </extension>
  
 <extension
         point="org.eclipse.ui.commands">
         <command
            name="%ActionDefinition.addBlockComment.name"
            description="%ActionDefinition.addBlockComment.description"
            categoryId="org.eclipse.dltk.ui.category.source"
            id="org.eclipse.dltk.ui.edit.text.script.add.block.comment">
      </command>
      <command
            name="%ActionDefinition.removeBlockComment.name"
            description="%ActionDefinition.removeBlockComment.description"
            categoryId="org.eclipse.dltk.ui.category.source"
            id="org.eclipse.dltk.ui.edit.text.script.remove.block.comment">
      </command>
      <command
            name="%ActionDefinition.indent.name"
            description="%ActionDefinition.indent.description"
            categoryId="org.eclipse.dltk.ui.category.source"
            id="org.eclipse.dltk.ui.edit.text.script.indent">
      </command>
	<command
            name="%ActionDefinition.format.name"
            description="%ActionDefinition.format.description"
            categoryId="org.eclipse.dltk.ui.category.source"
            id="org.eclipse.dltk.ui.edit.text.script.format">
      </command>
      <command
            name="%ActionDefinition.quickformat.name"
            description="%ActionDefinition.quickformat.description"
            categoryId="org.eclipse.dltk.ui.category.source"
            id="org.eclipse.dltk.ui.edit.text.script.quick.format">
      </command>      
      
  </extension>
  <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%context.editingJavascriptSource.name"
            description="%context.editingJavascriptSource.description"
            parentId="org.eclipse.dltk.ui.scriptEditorScope"
            id="org.eclipse.dltk.ui.javascriptEditorScope">
      </context>
  </extension>
<!-- Code completion --> 
	<extension
		point="org.eclipse.dltk.ui.scriptCompletionProposalComputer"
		id="JavaScriptTypeCompletionProposalComputer">
		<scriptCompletionProposalComputer 
			class="org.eclipse.dltk.javascript.internal.ui.text.completion.JavaScriptTypeCompletionProposalComputer"
			categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
			toolkitId="org.eclipse.dltk.javascript.core.nature">
			<partition type="__dftl_partition_content_type"/>
		</scriptCompletionProposalComputer>		
	</extension>
	
	 <extension
       point="org.eclipse.dltk.ui.language">
    <language
          class="org.eclipse.dltk.javascript.internal.ui.JavaScriptUILanguageToolkit"
          nature="org.eclipse.dltk.javascript.core.nature"/>
 </extension>
  <extension
        point="org.eclipse.dltk.ui.scriptDocumentationProviders">
     <provider
           class="org.eclipse.dltk.javascript.scriptdoc.ScriptDocumentationProvider"
           id="org.eclipse.dltk.javascript.ui.javascriptDocumentationProvider"
           nature="org.eclipse.dltk.javascript.core.nature">
     </provider>
  </extension>   
  <extension
       point="org.eclipse.ui.editors.templates">
    <contextType
          class="org.eclipse.dltk.javascript.internal.ui.templates.JavaScriptUniversalTemplateContextType"
          id="javascriptUniversalTemplateContextType"
          name="%JavaScriptTemplateContextName">
    </contextType>
    <include
          file="templates/templates.xml"
          translations="templates/templates.properties">
    </include>
 </extension>
 
 
 
 
 <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      
 </extension> 
 
 <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.dltk.javascript.ui.CodingActionSet">
         <part id="org.eclipse.dltk.javascript.ui.editor.JavascriptEditor"/>
	     <part id="org.eclipse.dltk.ui.ScriptExplorer"/>
      </actionSetPartAssociation>   
         
      <actionSetPartAssociation
            targetID="org.eclipse.dltk.ui.ScriptCodingActionSet">
         <part id="org.eclipse.dltk.javascript.ui.editor.JavascriptEditor"/>
      </actionSetPartAssociation>    
        
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part id="org.eclipse.dltk.javascript.ui.editor.JavascriptEditor"/>
	  </actionSetPartAssociation>  
 </extension>
 
  
</plugin>
