<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="org.eclipse.dltk.debug.scriptMethodEntryBreakpointMarker"
            class="org.eclipse.dltk.debug.internal.core.model.ScriptMethodEntryBreakpoint"
            id="org.eclipse.dltk.debug.internal.core.model.ScriptMethodEntryBreakpoint">
      </breakpoint>
      <breakpoint
            class="org.eclipse.dltk.debug.internal.core.model.ScriptWatchpoint"
            id="org.eclipse.dltk.debug.internal.core.model.ScriptWatchPoint"
            markerType="org.eclipse.dltk.debug.scriptWatchPointMarker">
      </breakpoint>
   </extension>
   <extension
         id="scriptBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
   </extension>
   <extension
         point="org.eclipse.debug.core.breakpoints">
      <breakpoint
            markerType="org.eclipse.dltk.debug.scriptLineBreakpointMarker"
            class="org.eclipse.dltk.debug.internal.core.model.ScriptLineBreakpoint"
            id="org.eclipse.dltk.debug.internal.core.model.ScriptLineBreakpoint">
      </breakpoint>
   </extension>
   <extension
         id="scriptBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.debug.core.breakpointMarker">
      </super>
   </extension>
   
   <extension
         id="scriptLineBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <persistent  value="true"/>
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <super
            type="org.eclipse.dltk.debug.scriptBreakpointMarker">
      </super>
   </extension>
   <extension
         id="scriptMethodEntryBreakpointMarker"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.dltk.debug.scriptLineBreakpointMarker">
      </super>
      <persistent
            value="true">
      </persistent>
      <attribute
            name="org.eclipse.debug.core.id.methodName">
      </attribute>
      <attribute
            name="org.eclipse.debug.core.id.methodSignature">
      </attribute>
      <attribute
            name="org.eclipse.debug.core.id.methodEntry">
      </attribute>
      <attribute
            name="org.eclipse.debug.core.id.methodExit">
      </attribute>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.eclipse.dltk.debug.core.DLTKDebugPluginPreferenceInitializer">
      </initializer>
   </extension>
   <extension
         id="scriptWatchPointMarker"
         name="Script WathPoint"
         point="org.eclipse.core.resources.markers">
      <persistent
            value="true">
      </persistent>
      <super
            type="org.eclipse.debug.core.lineBreakpointMarker">
      </super>
      <super
            type="org.eclipse.dltk.debug.scriptBreakpointMarker">
      </super>
   </extension>
   
      
</plugin>
