<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.dltk.launching.debuggingEngine">
      <engineContribution
            natureId="org.eclipse.dltk.python.core.nature">
         <engine
              class="org.eclipse.dltk.python.activestatedebugger.PythonActiveStateDebuggerRunnerFactory"
              description="%ActiveStateDebuggingEngine.description"
              id="org.eclipse.dltk.python.activestatedebugger"
              name="%ActiveStateDebuggingEngine.name"
              priority="0"
              preferencePageId="org.eclipse.dltk.python.preferences.debug.engines.activestatedebugger" 
              propertyPageId="org.eclipse.dltk.python.propertyPage.debug.engines.activestatedebugger" />
      </engineContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.dltk.python.preferences.debug.engines"
            class="org.eclipse.dltk.python.activestatedebugger.preferences.PythonActiveStateDebuggerPreferencePage"
            id="org.eclipse.dltk.python.preferences.debug.engines.activestatedebugger"
            name="%PythonActiveStateDebuggerPreferencePage.name">
      </page>
   </extension>
   <!--
   <extension
    point="org.eclipse.ui.propertyPages">
    <page
      class="org.eclipse.dltk.python.activestatedebugger.preferences.PythonActiveStateDebuggerPreferencePage"
      category="org.eclipse.dltk.python.propertyPage.debug.engines"
      id="org.eclipse.dltk.python.propertyPage.debug.engines.activestatedebugger"
      name="%PythonActiveStateDebuggerPropertyPage.name">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.dltk.python.core.nature"/>
        </adapt>         
      </enabledWhen>
   </page>
  </extension>
  -->
</plugin>
