<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	 <extension
	     point="org.eclipse.ui.editors">
	  <editor
	        class="org.eclipse.dltk.ruby.internal.ui.editor.RubyEditor"
	        contributorClass="org.eclipse.dltk.internal.ui.editor.SourceModuleEditorActionContributor"
	        default="true"
	        extensions="rb"
	        icon="icons/ruby_obj.gif"
	        id="org.eclipse.dltk.ruby.ui.editor.RubyEditor"
	        name="DLTK Ruby Editor"/>
	        
	         
	        
	 </extension>
      
	<extension
	  id="org.eclipse.dltk.ruby.ui.editor.DocumentSetupParticipant"
	  name="%documentSetupParticipantName"
	  point="org.eclipse.core.filebuffers.documentSetup">
		<participant extensions="rb" 
			class="org.eclipse.dltk.ruby.internal.ui.editor.RubyDocumentSetupParticipant">
	   		</participant>
	</extension>
	
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.dltk.ruby.ui"
            name="DLTK Ruby"
            >
      </category>
      <wizard
            category="org.eclipse.dltk.ruby.ui"
            class="org.eclipse.dltk.ruby.internal.ui.wizards.RubyProjectCreationWizard"
            finalPerspective="org.eclipse.dltk.ruby.ui.RubyPerspective"
            icon="icons/ruby_16_16.gif"
            id="org.eclipse.dltk.ruby.internal.ui.wizards.RubyProjectWizard"
            name="Ruby Project"
            preferredPerspectives="org.eclipse.dltk.ruby.ui.RubyPerspective"
            project="true">
         <description>
            Creates new Ruby Project.
         </description>
      </wizard>
      
      <wizard
             category="org.eclipse.dltk.ruby.ui"
             class="org.eclipse.dltk.ruby.internal.ui.wizards.RubyFileCreationWizard"
             icon="icons/ruby_obj.gif"
             id="org.eclipse.dltk.ruby.internal.ui.wizards.RubyFileCreationWizard"
             name="%NewRubyFile.label">
          <description>
          	Creates new Ruby Source File.
          </description>
       </wizard>
      
	</extension>
    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.eclipse.dltk.ruby.internal.ui.RubyUIPreferenceInitializer"/>
    </extension>
    <extension
       point="org.eclipse.ui.preferencePages">    
       <page
	          class="org.eclipse.dltk.ruby.internal.ui.preferences.RubyGlobalPreferencesPage"
	          id="org.eclipse.dltk.ruby.preferences"
	          name="Ruby"/>
		<page
	          category="org.eclipse.dltk.ruby.preferences"
	          class="org.eclipse.dltk.ruby.internal.ui.preferences.RubyEditorPreferencesPage"
	          id="org.eclipse.dltk.ruby.preferences.editor"
	          name="Editor"/>
	    <page
	          category="org.eclipse.dltk.ruby.preferences.editor"
	          class="org.eclipse.dltk.ruby.internal.ui.preferences.RubyEditorSyntaxColoringPreferencePage"
	          id="org.eclipse.dltk.ruby.preferences.editor.syntaxcoloring"
	          name="Syntax Coloring"/>
     	<page
              category="org.eclipse.dltk.ruby.preferences"
              class="org.eclipse.dltk.ruby.internal.ui.templates.RubyTemplatePreferencePage"
              id="org.eclipse.dltk.ruby.preferences.templates"
              name="Code templates">
     </page>	          
    </extension>
    
    <extension point="org.eclipse.ui.views">
    <view
            name="%RubyDocumentationView"
            icon="$nl$/icons/ruby_16_16.gif"
            category="org.eclipse.dltk.ruby.ui"
            class="org.eclipse.dltk.ruby.internal.ui.infoviews.RubyDocumentationView"
            id="org.eclipse.dltk.ruby.ui.RubyDocumentationView">
      </view>  
      
            
      <category
            id="org.eclipse.dltk.ruby.ui"
            name="DLTK Ruby"
            >
    </category> 
    </extension>
    
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.eclipse.dltk.ruby.internal.ui.RubyPerspective"
          icon="icons/ruby_16_16.gif"
          id="org.eclipse.dltk.ruby.ui.RubyPerspective"
          name="%RubyPerspectiveName"/>
 </extension>    
 <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%context.editingRubySource.name"
            description="%context.editingRubySource.description"
            parentId="org.eclipse.dltk.ui.scriptEditorScope"
            id="org.eclipse.dltk.ui.rubyEditorScope">
      </context>
  </extension>
  
  <!-- Code completion --> 
  	<extension
		point="org.eclipse.dltk.ui.scriptCompletionProposalComputer"
		id="RubyTypeCompletionProposalComputer">
		<scriptCompletionProposalComputer 
			class="org.eclipse.dltk.ruby.internal.ui.text.completion.RubyTypeCompletionProposalComputer"
			categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
			toolkitId="org.eclipse.dltk.ruby.core.nature">
			<partition type="__dftl_partition_content_type"/>
		</scriptCompletionProposalComputer>	
	</extension> 

<extension
       point="org.eclipse.dltk.ui.language">
    <language
          class="org.eclipse.dltk.ruby.internal.ui.RubyUILanguageToolkit"
          nature="org.eclipse.dltk.ruby.core.nature"/>
 </extension>   
	
	<extension
        point="org.eclipse.dltk.ui.scriptDocumentationProviders">
     <provider
           class="org.eclipse.dltk.ruby.internal.ui.documentation.RubyDocumentationProvider"
           id="org.eclipse.dltk.ruby.ui.RubyDocumentationProvider"
           nature="org.eclipse.dltk.ruby.core.nature"/>
           
    <!-- <provider
           class="org.eclipse.dltk.ruby.internal.ui.documentation.RubyTypeDocumentationProvider"
           id="org.eclipse.dltk.ruby.ui.RubyTypeDocumentationProvider"
           nature="org.eclipse.dltk.ruby.core.nature"/> -->
  </extension>
  
<!--Action Sets -->
 <extension
      point="org.eclipse.ui.actionSets">
      <actionSet
            label="%RubyActionSet.label"
            description="%RubyActionSet.description"
            visible="false"
            id="org.eclipse.dltk.ruby.ui.RubyActionSet">
         <action
               definitionId="org.eclipse.dltk.ruby.ui.navigate.open.type.in.hierarchy"
               label="%OpenTypeInHierarchyAction.label"
               tooltip="%OpenTypeInHierarchyAction.tooltip"
               class="org.eclipse.dltk.ruby.internal.ui.actions.RubyOpenTypeInHierarchyAction"
               menubarPath="navigate/open.ext2"
               id="openTypeInHierarchy">
         </action>
            
         <action
            class="org.eclipse.dltk.ruby.internal.ui.actions.RubyOpenTypeAction"
            definitionId="org.eclipse.dltk.ruby.ui.navigate.open.type"
            icon="icons/opentype.gif"
            id="openType"
            label="%OpenTypeAction.label"
            menubarPath="navigate/open.ext2"
            toolbarPath="org.eclipse.search.searchActionSet/Search"
            tooltip="%OpenTypeAction.tooltip">
         </action>
      </actionSet>
  </extension>
 <extension
       point="org.eclipse.ui.commands">
       <command
            name="%ActionDefinition.openType.name"
            description="%ActionDefinition.openType.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.dltk.ruby.ui.navigate.open.type">
         </command>
       <command
            name="%ActionDefinition.openTypeInHierarchy.name"
            description="%ActionDefinition.openTypeInHierarchy.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.dltk.ruby.ui.navigate.open.type.in.hierarchy">
      </command>
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
         <key
               commandId="org.eclipse.dltk.ruby.ui.navigate.open.type"
               contextId="org.eclipse.dltk.ui.rubyEditorScope"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+M2+T"/>        
        <key
              commandId="org.eclipse.dltk.ruby.ui.navigate.open.type.in.hierarchy"
              contextId="org.eclipse.dltk.ui.rubyEditorScope"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M1+M2+H"/> 
 </extension>
 
 
 <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="org.eclipse.dltk.ruby.internal.ui.search.RubySearchPage"
            enabled="true"
            extensions="rb:90"
            icon="/icons/jsearch_obj.gif"
            id="org.eclipse.dltk.ui.RubySearchPage"
            label="%DLTKSearchPage.label"
            showScopeSection="true"
            sizeHint="460,160">
      </page>
   </extension>
 
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="org.eclipse.dltk.ruby.internal.ui.preferences.RubyBuildPathPropertyPage"
          id="org.eclipse.dltk.ruby.ui.BuildpathProperties"
          name="Ruby Build Path"
          objectClass="org.eclipse.core.resources.IProject">
       <filter
             name="nature"
             value="org.eclipse.dltk.ruby.core.nature"/>
       <keywordReference id="org.eclipse.dltk.ruby.ui.buildpath"/>
    </page>
    <page
          class="org.eclipse.dltk.ruby.internal.ui.preferences.RubyBuildPathPropertyPage"
          id="org.eclipse.dltk.ruby.ui.BuildpathProperties"
          name="Ruby Build Path"
          objectClass="org.eclipse.dltk.core.IDLTKProject">
       <filter
             name="nature"
             value="org.eclipse.dltk.ruby.core.nature"/>
       <keywordReference id="org.eclipse.dltk.ruby.ui.buildpath"/>
    </page>    
 </extension>
 <extension
       point="org.eclipse.ui.editors.templates">
    <contextType
          class="org.eclipse.dltk.ruby.internal.ui.templates.RubyUniversalTemplateContextType"
          id="rubyUniversalTemplateContextType"
          name="%RubyTemplateContextName">
    </contextType>
    <include
          file="templates/templates.xml"
          translations="templates/templates.properties">
    </include>
 </extension>
</plugin>
