<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
	  id="org.eclipse.dltk.ruby.ui.editor.DocumentSetupParticipant"
	  name="%documentSetupParticipantName"
	  point="org.eclipse.core.filebuffers.documentSetup">
		<participant extensions="rb" 
			class="org.eclipse.dltk.ruby.internal.ui.editor.RubyDocumentSetupParticipant">
	   		</participant>
	</extension>
 <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="org.eclipse.dltk.ruby.internal.ui.search.RubySearchPage"
            enabled="true"
            extensions="rb:90"
            icon="$nl$/icons/obj16/search_obj.gif"
            id="org.eclipse.dltk.ui.RubySearchPage"
            label="%RubySearchPage.label"
            showScopeSection="true"
            sizeHint="460,160">
      </page>
   </extension>
    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.eclipse.dltk.ruby.internal.ui.RubyUIPreferenceInitializer"/>
    </extension>
  
  <!-- Code completion -->    
 <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%RubyEditContext.name"
            description="%RubyEditContext.description"
            parentId="org.eclipse.dltk.ui.scriptEditorScope"
            id="org.eclipse.dltk.ui.rubyEditorScope">
      </context>
  </extension>
    
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.eclipse.dltk.ruby.internal.ui.RubyPerspective"
          icon="icons/eview16/ruby_persp.gif"
          id="org.eclipse.dltk.ruby.ui.RubyPerspective"
          name="%RubyPerspective.name"/>
 </extension>
 
 <extension
       point="org.eclipse.ui.perspectiveExtensions">
    <perspectiveExtension
          targetID="org.eclipse.dltk.ruby.ui.RubyPerspective">
       <actionSet
             id="org.eclipse.debug.ui.breakpointActionSet">
       </actionSet>
    </perspectiveExtension>
 </extension>
	 <extension
	     point="org.eclipse.ui.editors">
	  <editor
         class="org.eclipse.dltk.ruby.internal.ui.editor.RubyEditor"
         contributorClass="org.eclipse.dltk.internal.ui.editor.SourceModuleEditorActionContributor"
         default="true"
         extensions="rb"
         icon="$nl$/icons/obj16/ruby_obj.gif"
         id="org.eclipse.dltk.ruby.ui.editor.RubyEditor"
         name="%RubyEditor.name">
      <contentTypeBinding
            contentTypeId="org.eclipse.dltk.rubyContentType">
      </contentTypeBinding>
   </editor>
	 </extension>
 <extension
       point="org.eclipse.ui.editors.templates">
    <contextType
          class="org.eclipse.dltk.ruby.internal.ui.templates.RubyUniversalTemplateContextType"
          id="rubyUniversalTemplateContextType"
          name="%RubyTemplateContext.name">
    </contextType>
    <include
          file="templates/templates.xml"
          translations="templates/templates.properties">
    </include>
 </extension>
	
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.dltk.ruby.ui"
            name="%RubyWizardsCategory.name"
            >
      </category>
      <wizard
            category="org.eclipse.dltk.ruby.ui"
            class="org.eclipse.dltk.ruby.internal.ui.wizards.RubyNewProjectWizard"
            finalPerspective="org.eclipse.dltk.ruby.ui.RubyPerspective"
            icon="$nl$/icons/etool16/newprj_wiz.gif"
            id="org.eclipse.dltk.ruby.wizards.newproject"
            name="%NewProjectWizard.name"
            preferredPerspectives="org.eclipse.dltk.ruby.ui.RubyPerspective"
            project="true">
         <description>%NewProjectWizard.description</description>
      </wizard>      
      <wizard
             category="org.eclipse.dltk.ruby.ui"
             class="org.eclipse.dltk.ruby.internal.ui.wizards.RubyNewFileWizard"
             icon="$nl$/icons/etool16/newfile_wiz.gif"
             id="org.eclipse.dltk.ruby.wizards.newfile"
             name="%NewFileWizard.name">
          <description>%NewFileWizard.description</description>
       </wizard>
       <wizard
             category="org.eclipse.dltk.ruby.ui"
             class="org.eclipse.dltk.ruby.internal.ui.wizards.RubyNewClassWizard"
             icon="$nl$/icons/etool16/newclass_wiz.gif"
             id="org.eclipse.dltk.ruby.wizards.newclass"
             name="%NewClassWizard.name">
          <description>%NewClassWizard.description</description>
       </wizard>
       <wizard
             category="org.eclipse.dltk.ruby.ui"
             class="org.eclipse.dltk.ruby.internal.ui.wizards.RubyNewModuleWizard"
             icon="$nl$/icons/etool16/newmodule_wiz.gif"
             id="org.eclipse.dltk.ruby.wizards.newmodule"
             name="%NewModuleWizard.name">
          <description>%NewModuleWizard.description</description>
       </wizard>
	</extension>
    <extension
       point="org.eclipse.ui.preferencePages">    
       <page
	          class="org.eclipse.dltk.ruby.internal.ui.preferences.RubyGlobalPreferencesPage"
	          id="org.eclipse.dltk.ruby.preferences"
	          name="%RubyPreferencePage.name"/>
		<page
	          category="org.eclipse.dltk.ruby.preferences"
	          class="org.eclipse.dltk.ruby.internal.ui.preferences.RubyEditorPreferencesPage"
	          id="org.eclipse.dltk.ruby.preferences.editor"
	          name="%RubyEditorPreferencePage.name"/>
	    <page
	          category="org.eclipse.dltk.ruby.preferences.editor"
	          class="org.eclipse.dltk.ruby.internal.ui.preferences.RubyEditorSyntaxColoringPreferencePage"
	          id="org.eclipse.dltk.ruby.preferences.editor.syntaxcoloring"
	          name="%RubyEditorSyntaxColoringPreferencePage.name"/>
     	<page
              category="org.eclipse.dltk.ruby.preferences"
              class="org.eclipse.dltk.ruby.internal.ui.templates.RubyTemplatePreferencePage"
              id="org.eclipse.dltk.ruby.preferences.templates"
              name="%RubyCodeTemplatesPreferencePage.name">
     </page>	          
    </extension>
    
    <extension point="org.eclipse.ui.views">  
      
            
      <category
            id="org.eclipse.dltk.ruby.ui"
            name="%RubyViewsCategory.name"
            >
    </category>
    <view
            name="%RubyDocumentationView.name"
            icon="$nl$/icons/obj16/rubydoc.gif"
            category="org.eclipse.dltk.ruby.ui"
            class="org.eclipse.dltk.ruby.internal.ui.infoviews.RubyDocumentationView"
            id="org.eclipse.dltk.ruby.ui.RubyDocumentationView">
      </view> 
    </extension>
 <extension
      point="org.eclipse.ui.actionSets">
      <actionSet
            label="%RubyActionSet.label"
            description="%RubyActionSet.description"
            visible="false"
            id="org.eclipse.dltk.ruby.ui.RubyActionSet">
         <action
               definitionId="org.eclipse.dltk.ruby.ui.navigate.open.type.in.hierarchy"
               label="%OpenTypeInHierarchyAction.label"
               tooltip="%OpenTypeInHierarchyAction.tooltip"
               class="org.eclipse.dltk.ruby.internal.ui.actions.RubyOpenTypeInHierarchyAction"
               menubarPath="navigate/open.ext2"
               id="openTypeInHierarchy">
         </action>
            
         <action
            class="org.eclipse.dltk.ruby.internal.ui.actions.RubyOpenTypeAction"
            definitionId="org.eclipse.dltk.ruby.ui.navigate.open.type"
            icon="icons/etool16/opentype.gif"
            id="openType"
            label="%OpenTypeAction.label"
            menubarPath="navigate/open.ext2"
            toolbarPath="org.eclipse.search.searchActionSet/Search"
            tooltip="%OpenTypeAction.tooltip">
         </action>
      </actionSet>
  </extension>
  
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%RubySearchActionSet.label"
            description="%RubySearchActionSet.description"
            visible="false"
            id="org.eclipse.dltk.ruby.ui.SearchActionSet">
         
         <menu
               label="%SearchMenu.label"
               path="navigate"
               id="org.eclipse.search.menu">
			   <groupMarker name="dialogRubyGroup"/>
         </menu>   
            
         <action
               label="%OpenRubySearchPageAction.label"
               icon="$nl$/icons/obj16/search_obj.gif"
               class="org.eclipse.dltk.ruby.internal.ui.actions.OpenRubySearchPageAction"
               menubarPath="org.eclipse.search.menu/dialogRubyGroup"
               id="org.eclipse.dltk.ruby.ui.actions.OpenRubySearchPage">
         </action>
  </actionSet>
 </extension>
  
 <extension
       point="org.eclipse.ui.commands">
       <command
            name="%ActionDefinition.OpenType.name"
            description="%ActionDefinition.OpenType.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.dltk.ruby.ui.navigate.open.type">
         </command>
       <command
            name="%ActionDefinition.OpenTypeInHierarchy.name"
            description="%ActionDefinition.OpenTypeInHierarchy.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.dltk.ruby.ui.navigate.open.type.in.hierarchy">
      </command>
 </extension>
 <extension
       point="org.eclipse.ui.bindings">
         <key
               commandId="org.eclipse.dltk.ruby.ui.navigate.open.type"
               contextId="org.eclipse.dltk.ui.rubyEditorScope"
               schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
               sequence="M1+M2+T"/>        
        <key
              commandId="org.eclipse.dltk.ruby.ui.navigate.open.type.in.hierarchy"
              contextId="org.eclipse.dltk.ui.rubyEditorScope"
              schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
              sequence="M1+M2+H"/> 
 </extension>
 
   <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            location="TOP_LEFT"
            lightweight="true"
            label="%RubyProjectDecorator.name"
            state="true"
            class="org.eclipse.dltk.ruby.internal.ui.RubyProjectDecorator"
            id="org.eclipse.dltk.ruby.projectdecorator">
         <enablement>
           <or>
            <objectClass name="org.eclipse.core.resources.IProject"/>
            <objectClass name="org.eclipse.dltk.core.IDLTKProject"/>
           </or>
         </enablement>
      </decorator>
   </extension>
 
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          class="org.eclipse.dltk.ruby.internal.ui.preferences.RubyBuildPathPropertyPage"
          id="org.eclipse.dltk.ruby.ui.BuildpathProperties"
          name="%RubyBuildPathPropertyPage.name"
          objectClass="org.eclipse.core.resources.IProject">
       <filter
             name="nature"
             value="org.eclipse.dltk.ruby.core.nature"/>
       <keywordReference id="org.eclipse.dltk.ruby.ui.buildpath"/>
    </page>
    <page
          class="org.eclipse.dltk.ruby.internal.ui.preferences.RubyBuildPathPropertyPage"
          id="org.eclipse.dltk.ruby.ui.BuildpathProperties"
          name="%RubyBuildPathPropertyPage.name"
          objectClass="org.eclipse.dltk.core.IDLTKProject">
       <filter
             name="nature"
             value="org.eclipse.dltk.ruby.core.nature"/>
       <keywordReference id="org.eclipse.dltk.ruby.ui.buildpath"/>
    </page>    
 </extension>   
	
	<extension
        point="org.eclipse.dltk.ui.scriptDocumentationProviders">
     <provider
           class="org.eclipse.dltk.ruby.internal.ui.documentation.RubyDocumentationProvider"
           id="org.eclipse.dltk.ruby.ui.RubyDocumentationProvider"
           nature="org.eclipse.dltk.ruby.core.nature"/>
           
    <!-- <provider
           class="org.eclipse.dltk.ruby.internal.ui.documentation.RubyTypeDocumentationProvider"
           id="org.eclipse.dltk.ruby.ui.RubyTypeDocumentationProvider"
           nature="org.eclipse.dltk.ruby.core.nature"/> -->
  </extension> 
  	<extension
		point="org.eclipse.dltk.ui.scriptCompletionProposalComputer"
		id="RubyTypeCompletionProposalComputer">
		<scriptCompletionProposalComputer 
			class="org.eclipse.dltk.ruby.internal.ui.text.completion.RubyTypeCompletionProposalComputer"
			categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
			toolkitId="org.eclipse.dltk.ruby.core.nature">
			<partition type="__dftl_partition_content_type"/>
		</scriptCompletionProposalComputer>	
	</extension> 

<extension
       point="org.eclipse.dltk.ui.language">
    <language
          class="org.eclipse.dltk.ruby.internal.ui.RubyUILanguageToolkit"
          nature="org.eclipse.dltk.ruby.core.nature"
          priority="0"/>
 </extension>
 
  <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.dltk.ruby.ui.SearchActionSet">
         <part
               id="org.eclipse.dltk.ui.ScriptExplorer">
         </part>
         <part
               id="org.eclipse.dltk.ruby.ui.editor.RubyEditor">
         </part>
         <part
               id="org.eclipse.search.SearchResultView">
         </part>
      </actionSetPartAssociation>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part id="org.eclipse.dltk.ruby.ui.editor.RubyEditor"/>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.dltk.ui.A_OpenActionSet">
         <part id="org.eclipse.dltk.ruby.ui.editor.RubyEditor"/>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.dltk.ui.ScriptCodingActionSet">
         <part id="org.eclipse.dltk.ruby.ui.editor.RubyEditor"/>
      </actionSetPartAssociation>
 </extension>
 
  
<!--Action Sets -->
 </plugin>
