<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 <extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.dltk.ruby.core.RubyNature"/>
      </runtime>
   </extension> 
  <extension
         point="org.eclipse.dltk.core.language">
      <language
            class="org.eclipse.dltk.ruby.core.RubyLanguageToolkit"
            nature="org.eclipse.dltk.ruby.core.nature"/>
   </extension>
  <extension
        point="org.eclipse.dltk.core.mixin">
     <mixin
           class="org.eclipse.dltk.ruby.internal.parser.mixin.RubyMixin"
           nature="org.eclipse.dltk.ruby.core.nature">
     </mixin>
  </extension>   
</plugin>
