<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="goalEvaluatorFactories" name="%extension-point.name.goalEvaluatorFactories" schema="schema/org.eclipse.dltk.ruby.core.goalEvaluatorFactories.exsd"/>
 <extension
         id="nature"
         point="org.eclipse.core.resources.natures"
         name="%rubyNature">
      <runtime>	
         <run class="org.eclipse.dltk.ruby.core.RubyNature"/>
      </runtime>
   </extension> 
  <extension
         point="org.eclipse.dltk.core.language">
      <language
            class="org.eclipse.dltk.ruby.core.RubyLanguageToolkit"
            nature="org.eclipse.dltk.ruby.core.nature"
            priority="0"/>
   </extension>
  <extension
        point="org.eclipse.dltk.core.mixin">
     <mixin
           class="org.eclipse.dltk.ruby.internal.parser.mixin.RubyMixin"
           nature="org.eclipse.dltk.ruby.core.nature"
           priority="0">
     </mixin>
  </extension>
  <!--
  <extension
        point="org.eclipse.dltk.core.typeEvaluators">
     <evaluator
           evaluator="org.eclipse.dltk.ruby.typeinference.RubyTypeInferencer"
           nature="org.eclipse.dltk.ruby.core.nature">
     </evaluator>
  </extension>
  -->
  <extension
        point="org.eclipse.dltk.core.sourceParsers">
      <parserContribution
            natureId="org.eclipse.dltk.ruby.core.nature">     
        <parser
           name="%sourceParser.name"
           id="org.eclipse.dltk.ruby.parser.jrubySourceParser"
           description="%sourceParser.description"
           class="org.eclipse.dltk.ruby.internal.parser.JRubySourceParserFactory"
           priority="0"/>
      </parserContribution>
  </extension>
  <extension
        point="org.eclipse.dltk.core.sourceElementParsers">
     <parser
           class="org.eclipse.dltk.ruby.internal.parser.RubySourceElementParser"
           nature="org.eclipse.dltk.ruby.core.nature"
           priority="0">
     </parser>
  </extension>
  <extension
        point="org.eclipse.dltk.core.callHierarchy">
     <callHerarchiesFactory
           class="org.eclipse.dltk.ruby.internal.callhierarchy.RubyCallHierarchyFactory"
           nature="org.eclipse.dltk.ruby.core.nature"
           priority="0">
     </callHerarchiesFactory>
  </extension>
  <extension
        point="org.eclipse.dltk.core.search">
     <seachFactory
           class="org.eclipse.dltk.ruby.internal.core.search.RubySearchFactory"
           nature="org.eclipse.dltk.ruby.core.nature"
           priority="0">
     </seachFactory>
  </extension>
  <extension
        point="org.eclipse.dltk.core.completionEngine">
     <completionEngine
           class="org.eclipse.dltk.ruby.internal.core.codeassist.RubyCompletionEngine"
           nature="org.eclipse.dltk.ruby.core.nature"
           priority="0">
     </completionEngine>
  </extension>
  <extension
        point="org.eclipse.dltk.core.selectionEngine">
     <selectionEngine
           class="org.eclipse.dltk.ruby.internal.core.codeassist.RubySelectionEngine"
           nature="org.eclipse.dltk.ruby.core.nature"
           priority="0">
     </selectionEngine>
  </extension>
  <extension
        point="org.eclipse.core.runtime.contentTypes">
     <content-type
           base-type="org.eclipse.core.runtime.text"
           default-charset="UTF-8"
           describer="org.eclipse.dltk.ruby.core.RubyContentDescriber"
           file-extensions="rb"
           id="org.eclipse.dltk.rubyContentType"
           name="%rubyContentType"
           priority="high">       
     </content-type>
     <file-association
           content-type="org.eclipse.dltk.rubyContentType"
           file-names="rakefile">
     </file-association>
  </extension>
  <extension
        point="org.eclipse.dltk.ruby.core.goalEvaluatorFactories">
     <factory
           class="org.eclipse.dltk.ruby.typeinference.DefaultRubyEvaluatorFactory"
           priority="1">
     </factory>
  </extension>
</plugin>
