<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="validatorConfigPage" name="%extension-point.name.validatorConfigPage" schema="schema/validatorConfigPage.exsd"/>
   <extension-point id="validatorConsoleTracker" name="%extension-point.name.validatorConsoleTracker" schema="schema/validatorConsoleTracker.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.dltk.preferences"
            class="org.eclipse.dltk.validators.internal.ui.ValidatorPreferencePage"
            id="org.eclipse.dltk.preferences.validators"
            name="%page.name.validators">
      </page>
      <!--page
            category="org.eclipse.dltk.preferences.validators"
            class="org.eclipse.dltk.validators.internal.ui.externalchecker.ExternalCheckerRulesPreferencePage"
            id="org.eclipse.dltk.validators.ui.externalchecker"
            name="External Checker rules">
      </page-->
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.dltk.validators.ui.contribution"
            nameFilter="*"
            objectClass="org.eclipse.dltk.core.IModelElement">
         <menu
               id="org.eclipse.dltk.validators.ui.menu"
               label="%menu.label.dltkValidators"
               path="additions">
            <separator
                  name="sep">
            </separator>
            <groupMarker
                  name="bottom">
            </groupMarker>
         </menu>
         <action
               class="org.eclipse.dltk.validators.internal.ui.popup.actions.ValidateSelectionWithConsoleAction"
               icon="icons/goto_input.gif"
               id="org.eclipse.dltk.validators.ui.execActive"
               label="%action.label.validateSelectionWithConsole"
               menubarPath="org.eclipse.dltk.validators.ui.menu/top">
         </action>
         <action
               class="org.eclipse.dltk.validators.internal.ui.popup.actions.RemoveValidatorAllMarkersAction"
               icon="icons/clear_co.gif"
               id="org.eclipse.dltk.validators.ui.clean"
               label="%action.label.removeValidatorAllMarkers"
               menubarPath="org.eclipse.dltk.validators.ui.menu/top">
         </action>
         <visibility>
            <objectState
                  name="org.eclipse.dltk.validators.ui.visibility"
                  value="true">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.eclipse.dltk.validators.internal.ui.ValidatorsConsolePageParticipant"
            id="org.eclipse.dltk.validators.ui.validatorsConsolePageParticipant">
         <enablement></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.actionFilterTester">
      <actionFilterTester
            class="org.eclipse.dltk.validators.internal.ui.ValidatorsVisibilityTester"
            id="org.eclipse.dltk.validators.ui.visibility">
      </actionFilterTester>
   </extension>
   <extension
         point="org.eclipse.dltk.validators.ui.validatorConfigPage">
      <validatorConfigPage
            class="org.eclipse.dltk.validators.internal.ui.externalchecker.ExternalCheckerConfigurationPage"
            id="org.eclipse.dltk.validators.core.externalChecker">
      </validatorConfigPage>
   </extension>
   <extension
         point="org.eclipse.dltk.validators.ui.validatorConsoleTracker">
      <validatorConsoleTracker
            class="org.eclipse.dltk.validators.internal.ui.externalchecker.ExternalCheckerConsoleTracker">
      </validatorConsoleTracker>
   </extension>

</plugin>
