<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="validatorConfigPage" name="validatorConfigPage" schema="schema/validatorConfigPage.exsd"/>
   <extension-point id="validatorConsoleTracker" name="validatorConsoleTracker" schema="schema/validatorConsoleTracker.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="org.eclipse.dltk.preferences"
            class="org.eclipse.dltk.validators.internal.ui.ValidatorPreferencePage"
            id="org.eclipse.dltk.preferences.validators"
            name="Validators">
      </page>
      <!--page
            category="org.eclipse.dltk.preferences.validators"
            class="org.eclipse.dltk.validators.internal.ui.externalchecker.ExternalCheckerRulesPreferencePage"
            id="org.eclipse.dltk.validators.ui.externalchecker"
            name="External Checker rules">
      </page-->
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.eclipse.dltk.validators.ui.contribution"
            nameFilter="*"
            objectClass="org.eclipse.dltk.core.IModelElement">
         <menu
               id="org.eclipse.dltk.validators.ui.menu"
               label="DLTK Validators"
               path="additions">
            <separator
                  name="top">
            </separator>
         </menu>
         <action
               class="org.eclipse.dltk.validators.internal.ui.popup.actions.ValidatorSelectionWithConsoleAction"
               id="org.eclipse.dltk.validators.ui.newAction"
               label="Validate selection with console"
               menubarPath="org.eclipse.dltk.validators.ui.menu/top"
               >
         </action>
         <action
               class="org.eclipse.dltk.validators.internal.ui.popup.actions.RemoveValidatorAllMarkersAction"
               id="org.eclipse.dltk.validators.ui.action2"
               label="Remove all validator markers"
               menubarPath="org.eclipse.dltk.validators.ui.menu/top">
         </action>
         <visibility>
            <objectState
                  name="org.eclipse.dltk.validators.ui.visibility"
                  value="true">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.eclipse.dltk.validators.internal.ui.ValidatorsConsolePageParticipant"
            id="org.eclipse.dltk.validators.ui.validatorsConsolePageParticipant">
         <enablement></enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.dltk.ui.actionFilterTester">
      <actionFilterTester
            class="org.eclipse.dltk.validators.internal.ui.ValidatorsVisibilityTester"
            id="org.eclipse.dltk.validators.ui.visibility">
      </actionFilterTester>
   </extension>
   <extension
         point="org.eclipse.dltk.validators.ui.validatorConfigPage">
      <validatorConfigPage
            class="org.eclipse.dltk.validators.internal.ui.externalchecker.ExternalCheckerConfigurationPage"
            id="org.eclipse.dltk.validators.core.externalChecker">
      </validatorConfigPage>
   </extension>
   <extension
         point="org.eclipse.dltk.validators.ui.validatorConsoleTracker">
      <validatorConsoleTracker
            class="org.eclipse.dltk.validators.internal.ui.externalchecker.ExternalCheckerConsoleTracker">
      </validatorConsoleTracker>
   </extension>

</plugin>
