<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="validator" name="DLTK Validator" schema="schema/validator.exsd"/>
   <extension
         point="org.eclipse.dltk.core.builder">
      <builder
            class="org.eclipse.dltk.validators.internal.core.ValidatorBuilder"
            nature="#">
      </builder>
   </extension>
   <extension
         point="org.eclipse.dltk.validators.core.validator">
      <validatorType
            class="org.eclipse.dltk.validators.internal.core.externalchecker.ExternalCheckerType"
            id="org.eclipse.dltk.validators.core.externalChecker"
            nature="#">
      </validatorType>
   </extension>
   <extension
         id="externalcheckerproblem"
         name="External Checker Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <super
            type="org.eclipse.core.resources.textmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>

</plugin>
