<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="resolver" name="Reference Resolver" schema="schema/resolver.exsd"/>
<extension
         id="nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.eclipse.dltk.javascript.core.JavaScriptNature"/>
      </runtime>
   </extension> 
   
   <extension
         point="org.eclipse.dltk.core.language">
      <language
            class="org.eclipse.dltk.javascript.core.JavaScriptLanguageToolkit"
            nature="org.eclipse.dltk.javascript.core.nature"/>
</extension>
   <extension
         point="org.eclipse.dltk.javascript.core.resolver">
      <resolver
            class="org.eclipse.dltk.internal.javascript.reference.resolvers.SourceBasedResolverFactory"
            id="sourceResolver">
      </resolver>
   </extension>
   <extension
         point="org.eclipse.dltk.core.mixin">
      <mixin
            class="org.eclipse.dltk.javascript.internal.core.mixin.JavaScriptMixinParser"
            nature="org.eclipse.dltk.javascript.core.nature">
      </mixin>
   </extension>
   <extension
         point="org.eclipse.dltk.core.builder">
      <builder
            class="org.eclipse.dltk.javascript.core.builders.JavaScriptBuilder"
            nature="org.eclipse.dltk.javascript.core.nature">
      </builder>
   </extension>
   <extension
         point="org.eclipse.dltk.core.sourceParsers">
      <parser
            class="org.eclipse.dltk.internal.javascript.parser.JavaScriptSourceParser"
            nature="org.eclipse.dltk.javascript.core.nature"
            priority="0">
      </parser>
   </extension>
   <extension
         point="org.eclipse.dltk.core.sourceElementParsers">
      <parser
            class="org.eclipse.dltk.internal.javascript.parser.JavaScriptSourceElementParser"
            nature="org.eclipse.dltk.javascript.core.nature"
            priority="0">
      </parser>
   </extension>
   <extension
         point="org.eclipse.dltk.core.completionEngine">
      <completionEngine
            class="org.eclipse.dltk.javascript.internal.core.codeassist.completion.JavaScriptCompletionEngine"
            nature="org.eclipse.dltk.javascript.core.nature"
            priority="0">
      </completionEngine>
   </extension>
   <extension
         point="org.eclipse.dltk.core.selectionEngine">
      <selectionEngine
            class="org.eclipse.dltk.javascript.internal.core.codeassist.selection.JavaScriptSelectionEngine"
            nature="org.eclipse.dltk.javascript.core.nature"
            priority="0">
      </selectionEngine>
   </extension>
   <extension
         point="org.eclipse.dltk.core.search">
      <seachFactory
            class="org.eclipse.dltk.javascript.internal.core.JavaScriptSearchFactory"
            nature="org.eclipse.dltk.javascript.core.nature"
            priority="0">
      </seachFactory>
   </extension>
   <extension
         point="org.eclipse.dltk.core.callHierarchy">
      <callHerarchiesFactory
            class="org.eclipse.dltk.javascript.internal.core.JavaScriptCallHierarchyFactory"
            nature="org.eclipse.dltk.javascript.core.nature"
            priority="0">
      </callHerarchiesFactory>
   </extension>
</plugin>
