<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.dltk.tcl.core.tclkeywords">
      <keywords
            class="org.eclipse.dltk.xotcl.internal.core.XOTclKeywords">
      </keywords>
   </extension>
   <extension
         point="org.eclipse.dltk.tcl.core.tclCommandDetector">
      <detector
            class="org.eclipse.dltk.xotcl.internal.core.parser.XOTclCommandDetector">
      </detector>
   </extension>
   <extension
         name="XOTcl commands"
         point="org.eclipse.dltk.tcl.core.tclCommandProcessor">
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclClassProcessor"
            id="#Class#create">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclClassAllProcProcessor"
            id="#Class#instproc">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclClassAllProcProcessor"
            id="#Object#proc">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclObjectSetProcessor"
            id="#Object#set">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclClassMethodCallProcessor"
            id="#Class#$MethodCall">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclClassNewInstanceProcessor"
            id="#Class#$newInstance">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclProcCallProcessor"
            id="#Class#$ProcCall">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclObjectCreateProcessor"
            id="#Object#create">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclClassAllProcProcessor"
            id="#Class#proc">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclClassMyProcessor"
            id="my">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.core.XOTclDocumentationProcessor"
            id="@">
      </processor>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <file-association
            content-type="org.eclipse.dltk.tclContentType"
            file-extensions="xotcl">
      </file-association>
   </extension>
   <extension
         point="org.eclipse.dltk.tcl.core.tclExtension">
      <tclExtension
            class="org.eclipse.dltk.xotcl.internal.core.XOTclLanguageExtension"
            language="XOTcl"
            priority="0">
      </tclExtension>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <file-association
            content-type="org.eclipse.dltk.tclContentType"
            file-extensions="xotcl">
      </file-association>
   </extension>
</plugin>
