<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="tclCommandProcessor" name="tclCommandProcessor" schema="schema/tclCommandProcessor.exsd"/>
   <extension-point id="tclCommandDetector" name="tclCommandDetector" schema="schema/tclCommandDetector.exsd"/>
   <extension
         point="org.eclipse.dltk.core.language">
      <language
            class="org.eclipse.dltk.xotcl.internal.core.XOTclLanguageToolkit"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="1">
      </language>
   </extension>
   <extension
         point="org.eclipse.dltk.tcl.core.tclkeywords">
      <keywords
            class="org.eclipse.dltk.xotcl.internal.core.XOTclKeywords"
            priority="1">
      </keywords>
   </extension>
   <extension
         point="org.eclipse.dltk.core.sourceParsers">
      <parser
            class="org.eclipse.dltk.xotcl.internal.core.parser.XOTclSourceParser"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="1">
      </parser>
   </extension>
   <extension
         name="tcl commands"
         point="org.eclipse.dltk.xotcl.core.tclCommandProcessor">
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.tcl.TclSwitchCommandProcessor"
            id="switch"></processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.tcl.TclNamespaceProcessor"
            id="namespace"></processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.tcl.TclProcProcessor"
            id="proc">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.tcl.TclVariableProcessor"
            id="set">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.tcl.TclUpvarProcessor"
            id="upvar">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.tcl.TclGlobalVariableProcessor"
            id="global">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.tcl.TclPackageProcessor"
            id="package">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.tcl.TclCatchProcessor"
            id="catch">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.tcl.TclIfProcessor"
            id="if">
      </processor>
   </extension>
   <extension
         point="org.eclipse.dltk.core.sourceElementParsers">
      <parser
            class="org.eclipse.dltk.xotcl.internal.core.parser.XOTclSourceElementParser"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="1">
      </parser>
   </extension>
   <extension
         point="org.eclipse.dltk.xotcl.core.tclCommandDetector">
      <detector
            class="org.eclipse.dltk.xotcl.internal.core.parser.XOTclCommandDetector">
      </detector>
   </extension>
   <extension
         name="XOTcl commands"
         point="org.eclipse.dltk.xotcl.core.tclCommandProcessor">
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclClassProcessor"
            id="#Class#create">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclClassAllProcProcessor"
            id="#Class#instproc">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclClassAllProcProcessor"
            id="#Object#proc">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclObjectSetProcessor"
            id="#Object#set">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclClassMethodCallProcessor"
            id="#Class#$MethodCall">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclClassNewInstanceProcessor"
            id="#Class#$newInstance">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclProcCallProcessor"
            id="#Class#$ProcCall">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclObjectCreateProcessor"
            id="#Object#create">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclClassAllProcProcessor"
            id="#Class#proc">
      </processor>
      <processor
            class="org.eclipse.dltk.xotcl.internal.core.parser.processors.xotcl.XOTclClassMyProcessor"
            id="my">
      </processor>
   </extension>
   <extension
         point="org.eclipse.dltk.core.search">
      <seachFactory
            class="org.eclipse.dltk.xotcl.internal.core.search.XOTclSearchFactory"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="1">
      </seachFactory>
   </extension>
   <extension
         point="org.eclipse.dltk.core.completionEngine">
      <completionEngine
            class="org.eclipse.dltk.xotcl.internal.core.XOTclCompletionEngine"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="1">
      </completionEngine>
   </extension>
   <extension
         point="org.eclipse.dltk.core.selectionEngine">
      <selectionEngine
            class="org.eclipse.dltk.xotcl.internal.core.search.TclSelectionEngine2"
            nature="org.eclipse.dltk.tcl.core.nature"
            priority="1">
      </selectionEngine>
   </extension>
   <extension
         point="org.eclipse.dltk.core.mixin">
      <mixin
            class="org.eclipse.dltk.xotcl.internal.core.search.mixin.XOTclMixinParser"
            nature="org.eclipse.dltk.tcl.core.nature">
      </mixin>
   </extension>

</plugin>
