<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="tclSemanticHighlighting" name="tclSemanticHighlighting" schema="schema/tclSemanticHighlighting.exsd"/>
   
	<extension
      id="org.eclipse.dltk.tcl.ui.editor.DocumentSetupParticipant"
      name="%documentSetupParticipantName"
      point="org.eclipse.core.filebuffers.documentSetup">
		<participant
        class="org.eclipse.dltk.tcl.internal.ui.editor.TclDocumentSetupParticipant">
   		</participant>
</extension>
 <extension
       point="org.eclipse.core.runtime.adapters">
    <factory
          adaptableType="org.eclipse.dltk.tcl.internal.ui.navigation.ElementsView$ElementList"
          class="org.eclipse.dltk.tcl.internal.ui.navigation.ElementListAdapterFactory">
       <adapter type="org.eclipse.dltk.core.IModelElement"/>
    </factory>
 </extension>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.eclipse.dltk.tcl.internal.ui.TclUIPreferenceInitializer"/>
    </extension>
  
 <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="org.eclipse.dltk.tcl.internal.ui.search.TclSearchPage"
            enabled="true"
            extensions="tcl:90, exp:30"
            icon="$nl$/icons/obj16/search_obj.gif"
            id="org.eclipse.dltk.ui.TclSearchPage"
            label="%TclSearchPage.label"
            showScopeSection="true"
            sizeHint="460,160">
      </page>
   </extension>
  
  <extension
         point="org.eclipse.ui.contexts">
      <context
            name="%TclEditContext.name"
            description="%TclEditContext.description"
            parentId="org.eclipse.dltk.ui.scriptEditorScope"
            id="org.eclipse.dltk.ui.tclEditorScope">
      </context>
  </extension>
 <extension
       point="org.eclipse.ui.perspectives">
    <perspective
          class="org.eclipse.dltk.tcl.ui.TclPerspective"
          icon="$nl$/icons/eview16/tcl_persp.gif"
          id="org.eclipse.dltk.tcl.ui.TclPerspective"
          name="%TclPerspective.name"/>
 </extension>
 
 <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <perspectiveShortcut
               id="org.eclipse.dltk.tcl.ui.TclPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.dltk.tcl.ui.TclPerspective">
         <perspectiveShortcut
               id="org.eclipse.dltk.tcl.ui.TclPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.dltk.tcl.ui.TclPerspective">
         <perspectiveShortcut
               id="org.eclipse.debug.ui.DebugPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <perspectiveShortcut
               id="org.eclipse.dltk.tcl.ui.TclPerspective">
         </perspectiveShortcut>
      </perspectiveExtension>
      
      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <actionSet
               id="org.eclipse.dltk.ui.DLTKActionSet">
         </actionSet>
      </perspectiveExtension>
      
      
      <perspectiveExtension
            targetID="org.eclipse.dltk.tcl.ui.TclPerspective">
         <showInPart
               id="org.eclipse.dltk.ui.ScriptExplorer">
         </showInPart>
      </perspectiveExtension>

      <perspectiveExtension
            targetID="org.eclipse.debug.ui.DebugPerspective">
         <showInPart
               id="org.eclipse.dltk.ui.ScriptExplorer">
         </showInPart>
      </perspectiveExtension>
      
   </extension>
	<extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.dltk.tcl.ui"
            name="%TclWizardsCategory.name"
            >
      </category>
      <wizard
            category="org.eclipse.dltk.tcl.ui"
            class="org.eclipse.dltk.tcl.internal.ui.wizards.TclProjectCreationWizard"
            finalPerspective="org.eclipse.dltk.tcl.ui.TclPerspective"
            icon="$nl$/icons/etool16/newprj_wiz.gif"
            id="org.eclipse.dltk.tcl.internal.ui.wizards.TclProjectWizard"
            name="Tcl Project"
            preferredPerspectives="org.eclipse.dltk.tcl.ui.TclPerspective"
            project="true">
         <description>
            Creates new Tcl project.
         </description>
      </wizard>
      <wizard
            name="%NewSourceFolderCreationWizard.label"
            icon="/icons/etool16/newpackfolder_wiz.gif"
            category="org.eclipse.dltk.tcl.ui"
            class="org.eclipse.dltk.ui.wizards.NewSourceFolderCreationWizard"
            id="org.eclipse.dltk.tcl.ui.wizards.NewSourceFolderCreationWizard">
         <description>
            %NewSourceFolderCreationWizard.description
         </description>
      </wizard>
       <wizard
            name="%NewTCLPackage.label"
            icon="icons/etool16/newpack_wiz.gif"
            category="org.eclipse.dltk.tcl.ui"
            class="org.eclipse.dltk.tcl.internal.ui.wizards.TclPackageCreationWizard"
            id="org.eclipse.dltk.tcl.ui.wizards.NewPackageCreationWizard">
         <description>
            %NewTCLPackage.description
         </description>
      </wizard>
       <wizard
             category="org.eclipse.dltk.tcl.ui"
             class="org.eclipse.dltk.tcl.internal.ui.wizards.TclFileCreationWizard"
             icon="$nl$/icons/etool16/newfile_wiz.gif"
             id="org.eclipse.dltk.tcl.internal.ui.wizards.TclFileCreationWizard"
             name="%NewTclFile.label">
          <description/>
       </wizard>
      </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.eclipse.dltk.tcl.internal.ui.editor.TclEditor"
            contributorClass="org.eclipse.dltk.internal.ui.editor.SourceModuleEditorActionContributor"
            default="true"
            extensions="tcl,exp,test,xotcl,itcl"
            icon="$nl$/icons/obj16/tcl_obj.gif"
            id="org.eclipse.dltk.tcl.ui.editor.TclEditor"
            name="%TclEditor.name">
         <contentTypeBinding
               contentTypeId="org.eclipse.dltk.tclContentType">
         </contentTypeBinding>
      </editor>
   </extension>
 
 <extension
       point="org.eclipse.ui.editors.templates">
    <contextType
          class="org.eclipse.dltk.tcl.internal.ui.templates.TclUniversalTemplateContextType"
          id="tclUniversalTemplateContextType"
          name="%TclTemplateContext.name">
    </contextType>    
 </extension>
 <extension
       point="org.eclipse.ui.preferencePages">
       
    <page          
          class="org.eclipse.dltk.tcl.internal.ui.preferences.TclGlobalPreferencesPage"
          id="org.eclipse.dltk.tcl.preferences"
          name="%TclPreferencePage.name"/>
    <page
          category="org.eclipse.dltk.tcl.preferences"
          class="org.eclipse.dltk.tcl.internal.ui.preferences.ManPagesPreferencePage"
          id="org.eclipse.dltk.tcl.preferences.mans"
          name="%TclManPagesPreferencePage.name"/>
    <page
           category="org.eclipse.dltk.tcl.preferences.editor"
           class="org.eclipse.dltk.tcl.internal.ui.templates.TclCodeTemplatesPreferencePage"
           id="org.eclipse.dltk.tcl.preferences.templates"
           name="%TclCodeTemplatesPreferencePage.name"/>        
    <page
          category="org.eclipse.dltk.tcl.preferences"
          class="org.eclipse.dltk.tcl.internal.ui.preferences.TclEditorPreferencesPage"
          id="org.eclipse.dltk.tcl.preferences.editor"
          name="%TclEditorPreferencePage.name"/>
    <page
          category="org.eclipse.dltk.tcl.preferences.editor"
          class="org.eclipse.dltk.tcl.internal.ui.preferences.TclEditorSyntaxColoringPreferencePage"
          id="org.eclipse.dltk.tcl.preferences.editor.syntaxcoloring"
          name="%TclEditorSyntaxColoringPreferencePage.name"/>
    <page
          category="org.eclipse.dltk.tcl.preferences.editor"
          class="org.eclipse.dltk.tcl.internal.ui.preferences.TclEditorHoverPreferencePage"
          id="org.eclipse.dltk.tcl.preferences.editor.hovers"
          name="%TclEditorHoversPreferencePage.name"/>    
    <page
          category="org.eclipse.dltk.tcl.preferences.editor"
          class="org.eclipse.dltk.tcl.internal.ui.preferences.TclSmartTypingPreferencePage"
          id="org.eclipse.dltk.tcl.preferences.editor.smarttyping"
          name="%TclEditorTypingPreferencePage.name"/>          
    <page
          category="org.eclipse.dltk.tcl.preferences.editor"
          class="org.eclipse.dltk.tcl.internal.ui.preferences.TclFoldingPreferencePage"
          id="org.eclipse.dltk.tcl.preferences.editor.folding"
          name="%TclEditorFoldingPreferencePage.name"/>
     <page
            name="Libraries"
            category="org.eclipse.dltk.tcl.preferences"
            class="org.eclipse.dltk.tcl.internal.ui.preferences.TclLibraryPreferencePage"
            id="org.eclipse.dltk.ui.preferences.UserLibraryPreferencePage">
            <keywordReference id="org.eclipse.dltk.ui.userlibs"/>
      </page>
     <page
           category="org.eclipse.dltk.tcl.preferences.editor"
           class="org.eclipse.dltk.tcl.internal.ui.preferences.TclEditorAssistancePreferencePage"
           id="org.eclipse.dltk.tcl.ui.assistance"
           name="%TclEditorAssistancePreferencePage.name">
     </page>      
          
 </extension>
 <extension
       point="org.eclipse.ui.propertyPages">
    <page
          category="org.eclipse.dltk.tcl.propertyPage"
          class="org.eclipse.dltk.tcl.internal.ui.preferences.TclBuildPathPropertyPage"
          id="org.eclipse.dltk.tcl.ui.BuildpathProperties"
          name="%TclBuildPathPropertyPage.name">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.dltk.tcl.core.nature"/>
        </adapt>         
      </enabledWhen>
      <keywordReference id="org.eclipse.dltk.tcl.ui.buildpath"/>
    </page>
    <page
      name="%TclPropertyPage.name"
      class="org.eclipse.dltk.tcl.internal.ui.preferences.TclPropertyPage"
      id="org.eclipse.dltk.tcl.propertyPage">
      <enabledWhen>
        <adapt type="org.eclipse.core.resources.IProject">
          <test property="org.eclipse.core.resources.projectNature" value="org.eclipse.dltk.tcl.core.nature"/>
        </adapt>         
      </enabledWhen>
    </page>
 </extension>

 <extension
       point="org.eclipse.ui.views">        
    <category
            id="org.eclipse.dltk.tcl.ui"
            name="%TclViewsCategory.name"
            >
    </category>
    <view
          category="org.eclipse.dltk.tcl.ui"
          class="org.eclipse.dltk.tcl.internal.ui.navigation.NamespacesView"
          icon="icons/obj16/tcl_obj.gif"
          id="org.eclipse.dltk.tcl.internal.ui.navigation.NamespacesView"
          name="%TclNamespacesView.name"/>
    <view
          category="org.eclipse.dltk.tcl.ui"
          class="org.eclipse.dltk.tcl.internal.ui.navigation.FunctionsView"
          icon="icons/obj16/tcl_obj.gif"
          id="org.eclipse.dltk.tcl.internal.ui.navigation.FunctionsView"
          name="%TclFunctionsView.name"/>
    <view
          category="org.eclipse.dltk.tcl.ui"
          class="org.eclipse.dltk.tcl.internal.ui.navigation.PackagesView"
          icon="icons/obj16/tcl_obj.gif"
          id="org.eclipse.dltk.tcl.internal.ui.navigation.PackagesView"
          name="%TclPackagesView.name"/> 
    <view
            name="%TclDocumentationView.name"
            icon="$nl$/icons/obj16/tcldoc.gif"
            category="org.eclipse.dltk.tcl.ui"
            class="org.eclipse.dltk.tcl.internal.ui.infoviews.TclDocumentationView"
            id="org.eclipse.dltk.tcl.ui.TclDocumentationView">
      </view>          
 </extension>
 <extension
      point="org.eclipse.ui.actionSets">
      <actionSet
            label="%TclActionSet.label"
            description="%TclActionSet.description"
            visible="false"
            id="org.eclipse.dltk.tcl.ui.TclActionSet">
         <action
            class="org.eclipse.dltk.tcl.internal.ui.actions.TclOpenTypeAction"
            definitionId="org.eclipse.dltk.tcl.ui.navigate.open.type"
            icon="icons/etool16/opentype.gif"
            id="openType"
            label="%OpenTypeAction.label"
            menubarPath="navigate/open.ext2"
            toolbarPath="org.eclipse.search.searchActionSet/Search"
            tooltip="%OpenTypeAction.tooltip">
         </action>
      </actionSet>
  </extension>
  
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            label="%TclSearchActionSet.label"
            description="%TclSearchActionSet.description"
            visible="false"
            id="org.eclipse.dltk.tcl.ui.SearchActionSet">
         <menu
               label="%SearchMenu.label"
               path="navigate"
               id="org.eclipse.search.menu">
			   <groupMarker name="dialogTclGroup"/>
         </menu>   
         <action
               label="%OpenTclSearchPageAction.label"
               icon="$nl$/icons/obj16/search_obj.gif"
               class="org.eclipse.dltk.tcl.internal.ui.actions.OpenTclSearchPageAction"
               menubarPath="org.eclipse.search.menu/dialogTclGroup"
               id="org.eclipse.dltk.tcl.ui.actions.OpenTclSearchPage">
         </action>
  </actionSet>
 </extension>
 
 <extension
       point="org.eclipse.ui.bindings">
         <key
            sequence="M1+M2+T"
            commandId="org.eclipse.dltk.tcl.ui.navigate.open.type"
            contextId="org.eclipse.dltk.ui.tclEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>       
 </extension>       
 
 <extension
         point="org.eclipse.ui.decorators">
      <decorator
            adaptable="false"
            location="TOP_LEFT"
            lightweight="true"
            label="%TclProjectDecorator.name"
            state="true"
            class="org.eclipse.dltk.tcl.internal.ui.TclProjectDecorator"
            id="org.eclipse.dltk.tcl.decorators.projectdecorator">
         <enablement>
           <or>
            <objectClass name="org.eclipse.core.resources.IProject"/>
            <objectClass name="org.eclipse.dltk.core.IScriptProject"/>
           </or>
         </enablement>
      </decorator>
   </extension>
 <extension
       point="org.eclipse.ui.commands">
       <command
            name="%ActionDefinition.OpenType.name"
            description="%ActionDefinition.OpenType.description"
            categoryId="org.eclipse.ui.category.navigate"
            id="org.eclipse.dltk.tcl.ui.navigate.open.type">
         </command>
 </extension>
  
  
 <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part id="org.eclipse.dltk.tcl.ui.editor.TclEditor"/>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.dltk.ui.A_OpenActionSet">
         <part id="org.eclipse.dltk.tcl.ui.editor.TclEditor"/>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.dltk.ui.ScriptCodingActionSet">
         <part id="org.eclipse.dltk.tcl.ui.editor.TclEditor"/>
      </actionSetPartAssociation>
 </extension>
	<extension
		point="org.eclipse.dltk.ui.scriptCompletionProposalComputer"
		id="TclScriptNoTypeCompletionProposalComputer">
		<scriptCompletionProposalComputer
	        categoryId="org.eclipse.dltk.ui.scriptNoTypeProposalCategory"
    	    class="org.eclipse.dltk.tcl.internal.ui.text.completion.TclNoTypeCompletionProposalComputer"
	        toolkitId="org.eclipse.dltk.tcl.core.nature">
			<partition type="__dftl_partition_content_type"/>
		    <partition type="__tcl_string"/>
		</scriptCompletionProposalComputer>
	</extension> 
	<extension
		point="org.eclipse.dltk.ui.scriptCompletionProposalComputer"
		id="TclScriptTypeCompletionProposalComputer">
		<scriptCompletionProposalComputer 
			class="org.eclipse.dltk.tcl.internal.ui.text.completion.TclTypeCompletionProposalComputer"
			categoryId="org.eclipse.dltk.ui.scriptTypeProposalCategory"
			toolkitId="org.eclipse.dltk.tcl.core.nature">
			<partition type="__dftl_partition_content_type"/>
		</scriptCompletionProposalComputer>		
	</extension>
  <extension
        point="org.eclipse.dltk.ui.scriptDocumentationProviders">
     <provider
           class="org.eclipse.dltk.tcl.internal.ui.documentation.TclCommentDocumentationProvider"
           id="org.eclipse.dltk.tcl.ui.TclCommentDocumentationProvider"
           nature="org.eclipse.dltk.tcl.core.nature"/>
     <provider
           class="org.eclipse.dltk.tcl.internal.ui.documentation.TclManPagesDocumentationProvider"
           id="org.eclipse.dltk.tcl.ui.TclManPagesDocumentationProvider"
           nature="org.eclipse.dltk.tcl.core.nature"/>
  </extension>
 <extension
       point="org.eclipse.dltk.ui.language">
    <language
          class="org.eclipse.dltk.tcl.internal.ui.TclUILanguageToolkit"
          nature="org.eclipse.dltk.tcl.core.nature"/>
 </extension>
   
    <extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="org.eclipse.dltk.tcl.ui.SearchActionSet">
         <part
               id="org.eclipse.dltk.ui.ScriptExplorer">
         </part>
         <part
               id="org.eclipse.dltk.tcl.ui.editor.TclEditor">
         </part>
         <part
               id="org.eclipse.search.SearchResultView">
         </part>
      </actionSetPartAssociation>
   </extension>   
   
   
   <!-- <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution	      
            adaptable="false"
            id="org.eclipse.dltk.tcl.ui.rebuildPackageIndex"
            nameFilter="*"
            objectClass="org.eclipse.dltk.core.IScriptFolder">
         <action
         		enablesFor="1"
               class="org.eclipse.dltk.tcl.internal.ui.actions.RebuildPackageIndexAction"
               id="org.eclipse.dltk.tcl.ui.actions.RebuildPackageIndexAction"
               label="Rebuild Package Index"
               menubarPath="additions"/>         
         <visibility>
            <not>
               <objectState
                     name="nature"
                     value="org.eclipse.dltk.tcl.core.nature"/>
            </not>
         </visibility>
      </objectContribution>      
   </extension> -->
  
<extension
         point="org.eclipse.dltk.ui.buildpathContainerPage">
      <buildpathContainerPath
      		nature="org.eclipse.dltk.tcl.core.nature"
            name="User Library"
            class="org.eclipse.dltk.internal.ui.wizards.buildpath.UserLibraryWizardPage"
            id="org.eclipse.dltk.USER_LIBRARY">
      </buildpathContainerPath>
   </extension>
<extension
      point="org.eclipse.ui.ide.markerResolution">
   <markerResolutionGenerator
         class="org.eclipse.dltk.tcl.internal.ui.text.TclRequireMarkerResolutionGenerator"
         markerType="org.eclipse.dltk.core.problem">
   </markerResolutionGenerator>
</extension>
<extension
         point="org.eclipse.ui.editorActions">
          <editorContribution
            targetID="org.eclipse.dltk.tcl.ui.editor.TclEditor"
            id="org.eclipse.dltk.tcl.internal.ui.TclEditor.ruler.actions">
         <action
               label="Tcl Selection Ruler action"
               class="org.eclipse.dltk.tcl.internal.ui.actions.TclSelectRulerAction"
               actionID="RulerClick"
               id="org.eclipse.dltk.tcl.internal.ui.tcleditor.TclSelectRulerAction">
         </action>
      </editorContribution>
</extension>
<extension
      point="org.eclipse.ui.popupMenus">
   <objectContribution
         adaptable="false"
         id="org.eclipse.dltk.tcl.ui.fixdeps"
         objectClass="org.eclipse.dltk.core.IModelElement">
      <action
            class="org.eclipse.dltk.tcl.internal.ui.packages.FixAllDependenciesActionDelegate"
            icon="icons/etool16/newpack_wiz.gif"
            id="org.eclipse.dltk.tcl.ui.fixDependencies"
            label="Fix package dependencies"
            menubarPath="org.eclipse.dltk.ui.refactoring.menu"
            style="push">
      </action>
   </objectContribution>
</extension>
</plugin>
