<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension point="org.eclipse.core.runtime.contentTypes">
		<content-type
			file-extensions="js"
			priority="high"
			name="%JavaScript_Content_Type_Extension_Element.name"
			id="javascriptsource"
			base-type="org.eclipse.core.runtime.text"
			default-charset="ISO-8859-1">
		</content-type>
	</extension>

	<!-- initialize javascript core preferences -->
	<extension point="org.eclipse.core.runtime.preferences">
		<initializer
			class="org.eclipse.wst.javascript.core.internal.preferences.JavaScriptCorePreferenceInitializer" />
	</extension>
</plugin>
