<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.dltk.launching.interpreterInstallTypes">
          <interpreterInstallType
            class="org.eclipse.dltk.ruby.internal.launching.GenericRubyInstallType"
            id="org.eclipse.dltk.internal.debug.ui.launcher.GenericRubyInstallType">
      </interpreterInstallType>   
   </extension>
  
  <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
         <launchConfigurationType
               delegate="org.eclipse.dltk.ruby.launching.RubyLaunchConfigurationDelegate"
               id="org.eclipse.dltk.ruby.launching.RubyLaunchConfigurationType"
               modes="run,debug"
               name="Ruby Script"
               public="true"
               sourceLocatorId="rubySourceLocator">
		  </launchConfigurationType>         
   </extension>
  <extension
        point="org.eclipse.debug.core.sourceLocators">
     <sourceLocator
           class="org.eclipse.dltk.ruby.internal.launching.RubySourceLookupDirector"
           id="rubySourceLocator"
           name="Ruby files source locator">
     </sourceLocator>
  </extension>
  <extension
        point="org.eclipse.dltk.launching.debuggingEngine">
     <engineContribution
           natureId="org.eclipse.dltk.ruby.core.nature">
        <engine
              class="org.eclipse.dltk.ruby.internal.launching.debug.BasicDebuggerConfigModifierFactory"
              description="Very simple debugger"
              id="org.eclipse.dltk.ruby.launching.SimpleRubyDebugger"
              modelId="org.eclipse.dltk.debug.rubyModel"
              name="Simple debugger"
              priority="0">
        </engine>
     </engineContribution>
  </extension>
</plugin>
