<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">

<title>DLTK Downloads</title>


<?php
//ini_set("display_errors", "true");
//error_reporting (E_ALL);

//todo: compute downloadprefix based on host server, and stage of declaration
$downloadprefix="./";

// todo: unsure if can handle filenames that are URLs?
function fileSizeInMegs($filename) {
        // handy constant to compute file size in megabytes
        $onemeg=1024*1024;
        $zipfilesize=filesize($filename);
        $zipfilesize=round($zipfilesize/$onemeg, 0);
        return $zipfilesize;
}

// expecting grandTotalErrors and grandTotalTests
$filename = "unitTestsSummary.xml";
if (file_exists($filename)) {
        $prefix = "unitTests_";
        $unitTestsSummary = simplexml_load_file($filename);
        foreach ($unitTestsSummary->summaryItem as $summaryItem) {
                $name = $summaryItem->name;
                $value = $summaryItem->value;
                $code= "\$" . $prefix . $name . " = " . $value . ";";
                //echo "<br />code: " . $code;
                eval($code);
        }
}

$filename = "compilelogsSummary.xml";
$prefix = "code_";
$compileSummary = simplexml_load_file($filename);
foreach ($compileSummary->summaryItem as $summaryItem) {
        $name = $summaryItem->name;
        $value = $summaryItem->value;
        $code= "\$" . $prefix . $name . " = " . $value . ";";
        //echo "<br />code: " . $code;
        eval($code);
}

$filename = "testcompilelogsSummary.xml";
$prefix = "test_";
$compileSummary = simplexml_load_file($filename);
foreach ($compileSummary->summaryItem as $summaryItem) {
        $name = $summaryItem->name;
        $value = $summaryItem->value;
        $code= "\$" . $prefix . $name . " = " . $value . ";";
        //echo "<br />code: " . $code;
        eval($code);
}


?>


</head>

<body>

<table BORDER=0 CELLSPACING=2 CELLPADDING=2 WIDTH="100%">
        <tr>
                <td ALIGN=left><font face="'Bitstream Vera',Helvetica,Arial" size="+2"><b>@type@
                Build: @build@</b></font></td>


        <tr>
                <td><font size="-1">@date@</font></td>
        </tr>
        <tr>
                <td>
                <p>The Eclipse Dynamic Languages Toolkit Project is a tool for vendors, researchers, and end-users who 
                rely on dynamic languages. DLTK is comprised of a set of extensible frameworks designed to reduce the 
                complexity of building full featured development environments for dynamic languages such as PHP and Perl.
				</p>
				<p>Besides a set of frameworks DLTK provides exemplary Tcl, Ruby, and Python development environments ready to use out of the box.
				</p> 
                </td>
        </tr>
</table>

<!-- ***********  Required Prerequisites **************  -->
<table border=0 cellspacing=2 cellpadding=2 width="100%">
        <tr>
                <td align="left" valign="top" bgcolor="#0080C0"><font
                        face="'Bitstream Vera',Helvetica,Arial" color="#FFFFFF">Required
                Prerequisites</font></td>
        </tr>
        <tr>
                <td>Eclipse Platform is the prerequisite project to run the Dynamic Languages
                Toolkit. It must be downloaded and installed before DLTK can be
                installed or used.</td>
        </tr>
        <tr>
                <table border=0 cellspacing=1 cellpadding=1 width="90%" align="center">
                        <tr valign="top">
                        		<td width="10%"/>
                                <td>Eclipse Platform</td>
                                <td align="right"><a href="@eclipseURL@">@eclipseFile@</a> or <a
                                        href=@eclipseBuildURL@>other platform</a></td>
                        </tr>
                </table>
        </tr>
</table>

<!-- ***********  DLTK **************  -->
<table border=0 cellspacing=2 cellpadding=2 width="100%">
        <tr>
                <td align=left valign=top colspan="5" bgcolor="#0080C0"><font
                        face="'Bitstream Vera',Helvetica,Arial" color="#FFFFFF"> Dynamic
                Languages Toolkit Complete</font></td>
        </tr>

        <tr>
                <td align="left" valign="top" colspan="5">
                <p>The DLTK zip files includes the features and plugins from the DLTK Core,
                Ruby, and TCL components.</p>
                </td>
        </tr>
        <tr>
                <table border=0 cellspacing=2 cellpadding=2 width="90%" align="center">


                        <tr>
                                <td align="left" valign="top" width="10%"><b>Developers (Dynamic Language Users):</b></td>
                                <td align="left" valign="top">
                                <p>This non-SDK package is for most users. It includes the runnable
                                code and end-user documentation for those using the tools to develop
                                applications with dynamic languages.</p>
                                </td>
                                <?php

                                $zipfilename="dltk-@build@-incubation";

                                $filename=$zipfilename.".zip";
                                $zipfilesize=fileSizeInMegs($filename);
                                echo '  <td align="right" valign="top" width="10%">
                           <a href="' . ${downloadprefix} . ${filename} . '">' . "dltk" . '</a>
                        </td>
                        <td align="right" valign="top" width="5%">
                           (' . ${zipfilesize} . 'M)
                        </td>
                        <td align="right" valign="top" width="5%">
                           [<a href="checksum/' . ${filename} . '.md5">md5</a>]
                        </td>';

                                ?>
                        </tr>

                        <tr>


                        <tr>
                                <td align="left" valign="top" width="10%"><b>Tool Developers:</b></td>

                                <td align="left" valign="top">
                                <p>The SDK package includes source code and developer documentation
                                for those using DLTK as a framework to build more tools or extend existing implementations, 
                                as well as everything that is in the non-SDK version.</p>

                                <?php

                                $zipfilename="dltk-sdk-@build@-incubation";

                                $filename=$zipfilename.".zip";
                                $zipfilesize=fileSizeInMegs($filename);
                                echo '<td align="right" valign="top" width="10%">
                        <a href="' . ${downloadprefix} . ${filename} . '">' . "dltk-sdk" . '</a>
                        </td>
                        <td align="right" valign="top" width="5%">
                        (' . ${zipfilesize} . 'M)
                        </td>
                        <td align="right" valign="top" width="5%">
                        [<a href="checksum/' . ${filename} . '.md5">md5</a>]
                        </td>';
                                ?>

                        </tr>

                        <tr>

                                <td align="left" valign="top" width="10%"></td>
                                <td align="left" valign="top">
                                <p>The Automated Test zip contains the unit tests.</p>
                                <?php

                                $zipfilename="dltk-Automated_Tests-@build@-incubation";

                                $filename=$zipfilename.".zip";
                                $zipfilesize=fileSizeInMegs($filename);
                                echo '<td align="right" valign="top" width="10%">
                        <a href="' . ${downloadprefix} . ${filename} . '">' . "dltk-Automated_Tests" . '</a>
                        </td>
                        <td align="right" valign="top" width="5%">
                        (' . ${zipfilesize} . 'M)
                        </td>
                        <td align="right" valign="top" width="5%">
                        [<a href="checksum/' . ${filename} . '.md5">md5</a>]
                        </td>';
                                ?>

                        </tr>
                </table>


        <tr>

</table>


<!-- ***********  Build Status **************  -->
<table border=0 cellspacing=2 cellpadding=2 width="100%">
        <tr>
                <td align=left valign=top bgcolor="#0080C0"><font
                        face="'Bitstream Vera',Helvetica,Arial" color="#FFFFFF">Status, tests
                and other interesting details</font></td>
        </tr>
        <tr>
                <table border=0 cellspacing=2 cellpadding=2 width="90%" align="center">

                        <tr>
                                <td>
                                <?php
                                $buildmachineScript="../../../displayBuildMachine.php";
                                if (file_exists($buildmachineScript))
                                {
                                        include $buildmachineScript;
                                        echo displayBuildMachine();
                                }
                                ?> 
                                <a href="buildNotes.php">Build notes</a> <br />
                                <a href="directory.txt">map files</a> <br /> 
                                <?php

                                if (isset($unitTests_grandTotalErrors)) {
                                        $errorColor="green";
                                        if ($unitTests_grandTotalErrors > 0) {
                                                $errorColor="red";
                                        }
                                        echo "<a href=\"testResults.php\">Unit test results</a>&nbsp;";
                                        echo "<img src=\"junit_err.gif\"/><font color=\"" . $errorColor . "\">" . $unitTests_grandTotalErrors . "</font>&nbsp;&nbsp;Total: " . $unitTests_grandTotalTests;
                                }
                                else {
                                        echo "<br /><font color=\"orange\">Unit tests are pending</font>&nbsp;&nbsp;<img src=\"pending.gif\"/>";
                                }
                                ?> <br />
                                <a href="compileResults.php">Compile logs: Code Bundles</a> 
                                <?php
                                echo "&nbsp;&nbsp;($code_totalBundles)&nbsp;&nbsp;";
                                echo "<img src=\"compile_err.gif\"/><font color=red>$code_totalErrors</font>&nbsp;";
                                echo "<img src=\"compile_warn.gif\"/><font color=orange>$code_totalWarnings</font>&nbsp;";
                                echo "<img src=\"access_err.gif\"/><font color=red>$code_totalforbiddenAccessWarningCount</font>&nbsp;";
                                echo "<img src=\"access_warn.gif\"/><font color=orange>$code_totaldiscouragedAccessWarningCount</font>&nbsp;";
                                ?> <br />
                                <a href="testCompileResults.php">Compile logs: Test Bundles</a> 
                                <?php
                                echo "&nbsp;&nbsp;($test_totalBundles)&nbsp;&nbsp;";
                                echo "<img src=\"compile_err.gif\"/><font color=red>$test_totalErrors</font>&nbsp;";
                                echo "<img src=\"compile_warn.gif\"/><font color=orange>$test_totalWarnings</font>&nbsp;";
                                echo "<img src=\"access_err.gif\"/><font color=red>$test_totalforbiddenAccessWarningCount</font>&nbsp;";
                                echo "<img src=\"access_warn.gif\"/><font color=orange>$test_totaldiscouragedAccessWarningCount</font>&nbsp;";
                                ?> <br />
                                <a href="whatisfixed/buglog.html">What is fixed</a> <br />
                                <a href="pii.php">Unused property messages</a> <?php
                                if (file_exists("versioningReportName.php"))
                                {
                                        include "versioningReportName.php";
                                        $fname="${versionReportFilename}.html";
                                        if (file_exists($fname)) {
                                                echo "<br /> <a href='$fname'>Versioning Information</a>";
                                        }
}
?> <?php
echo "<br />";
if (file_exists("./apiresults/api-progress.html"))
{
        echo "<br /> <a href=\"apiresults/api-progress.html\">API Progress Report</a>";
}
if (file_exists("./apiresults/api-info-summary.html"))
{
        echo "<br /> <a href=\"apiresults/api-info-summary.html\">APIs Defined by Each Component</a>";
}
if (file_exists("./apiresults/api-ref-compatibility.html"))
{    
        echo "<br /> <a href=\"apiresults/api-ref-compatibility.html\">Adopter Breakage Report</a>";
}
if (file_exists("./apiresults/api-violation-summary.html"))
{ 
        echo "<br /> <a href=\"apiresults/api-violation-summary.html\">API Violations</a>";
}
if (file_exists("./apiresults/component-api-violation-all.html"))
{ 
        echo "<br /> <a href=\"apiresults/component-api-violation-all.html\">Non-API dependencies</a>";
}
if (file_exists("./apiresults/api-tc-summary.html"))
{ 
        echo "<br /> <a href=\"apiresults/api-tc-summary.html\">API Test Coverage</a>";
}
if (file_exists("./apiresults/api-javadoc-summary.html"))
{ 
        echo "<br /> <a href=\"apiresults/api-javadoc-summary.html\">API Javadoc Coverage</a>";
}
if (file_exists("./apiresults/api-tc-summary.html"))
{ 
        echo "<br /><br /> <a href=\"apiresults/full_test_coverage/api-tc-summary.html\">Test Coverage for All Classes and Methods</a>";
}
?> <?php
if (file_exists("./perfresults/graph/performance.php"))
{
        echo "<br />";
        echo "<br /> <a href=\"perfresults/graph/performance.php\">Performance Results</a>";
        echo "<br />";
}
?></td>
                        </tr>


                </table>
        </tr>
</table>



<!-- footer -->
<center>
<hr>
<p>All downloads are provided under the terms and conditions of the <a
        href="http://www.eclipse.org/legal/notice.html">Eclipse.org Software
User Agreement</a> unless otherwise specified.</p>

<p>If you have problems downloading the drops, contact the <font
        face="'Bitstream Vera',Helvetica,Arial" size="-1"><a
        href="mailto:webmaster@eclipse.org">webmaster</a></font>.</p>

</center>
<!-- end footer -->


</body>
</html>
