<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Eclipse Dynamic Languages Toolkit (DLTK) Downloads - for Committers and Early Testers</title>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <link href="downloads.css" rel="stylesheet" type="text/css" />

<?php
//ini_set("display_errors", "true");
//error_reporting (E_ALL);

//todo: compute downloadprefix based on host server, and stage of declaration
$downloadprefix="./";

// todo: unsure if can handle filenames that are URLs?
function fileSizeInMegs($filename) {
        // handy constant to compute file size in megabytes
        $onemeg=1024*1024;
        $zipfilesize=filesize($filename);
        $zipfilesize=number_format (round($zipfilesize/$onemeg, 1), 1, ',', '');
        return $zipfilesize;
}

// expecting grandTotalErrors and grandTotalTests
$filename = "unitTestsSummary.xml";
if (file_exists($filename)) {
        $prefix = "unitTests_";
        $unitTestsSummary = simplexml_load_file($filename);
        foreach ($unitTestsSummary->summaryItem as $summaryItem) {
                $name = $summaryItem->name;
                $value = $summaryItem->value;
                $code= "\$" . $prefix . $name . " = " . $value . ";";
                //echo "<br />code: " . $code;
                eval($code);
        }
}

$filename = "compilelogsSummary.xml";
$prefix = "code_";
$compileSummary = simplexml_load_file($filename);
foreach ($compileSummary->summaryItem as $summaryItem) {
        $name = $summaryItem->name;
        $value = $summaryItem->value;
        $code= "\$" . $prefix . $name . " = " . $value . ";";
        //echo "<br />code: " . $code;
        eval($code);
}

$filename = "testcompilelogsSummary.xml";
$prefix = "test_";
$compileSummary = simplexml_load_file($filename);
foreach ($compileSummary->summaryItem as $summaryItem) {
        $name = $summaryItem->name;
        $value = $summaryItem->value;
        $code= "\$" . $prefix . $name . " = " . $value . ";";
        //echo "<br />code: " . $code;
        eval($code);
}


?>
</head>

<body>
<div id="container">
 <div class="grad">
  <div id="summary">
    <div id="header">
      <h1>@type@ Build: @build@</h1>
      <h4>@date@</h4>
      <p>The Eclipse Dynamic Languages Toolkit Project is a tool for vendors, researchers, and end-users who rely on dynamic languages. DLTK is comprised
of a set of extensible frameworks designed to reduce the complexity of building full featured development environments for dynamic languages such
as PHP and Perl.</p>
      <p>&nbsp;</p>
      <p>Besides a set of frameworks DLTK provides exemplary Tcl, Ruby, and Python development environments ready to use out of the box.</p> 
    </div>
   </div>
 </div>


 <div class="white">
  <div id="build">
<!-- ***********  Required Prerequisites **************  -->
   <div class="build_item">
    <h3>Required Prerequisites</h3>
    <h4>Eclipse Platform is the prerequisite project to run the Dynamic Languages Toolkit. It must be downloaded and installed before DLTK can be installed
or used.</h4>
    <table>
      <tr>
        <td class="bold" width="182">Eclipse Platform</td>
        <td width="790"><a href="@eclipseURL@">@eclipseFile@</a> or <a href="@eclipseBuildURL@">other platform</a></td>
      </tr>
    </table>
  </div>

<!-- ***********  DLTK COMPONENTS **************  -->
<div class="build_item">
    <h3>Dynamic Languages Toolkit Complete</h3>
    <table><tr>
        <th width="135">Name</th>
	    <th width="220">Requirements</th>
	    <th width="210">Runtime Downloads</th>
   	    <th width="220">SDK Downloads</th>
      </tr>
      <tr>
        <td class="bold"><img src="images/eclipse.png" alt="" />Core Frameworks</td>
        <td></td>
        <?php
        $zipfilename="dltk-core-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        $zipfilename="dltk-core-sdk-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        ?>
      </tr>
      <tr>
        <td class="bold"><img src="images/ruby.png" alt="" />Ruby IDE</td>
        <td><img src="images/eclipse.png" alt="" />Core Frameworks</td>
        <?php
        $zipfilename="dltk-ruby-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        $zipfilename="dltk-ruby-sdk-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        ?>
      </tr>
      <tr>
        <td class="bold"><img src="images/tcl.png" alt="" />Tcl IDE</td>
        <td><img src="images/eclipse.png" alt="" />Core Frameworks</td>
        <?php
        $zipfilename="dltk-tcl-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        $zipfilename="dltk-tcl-sdk-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        ?>
      </tr>      
      <tr>
        <td class="bold"><img src="images/python.png" alt="" />Python IDE</td>
        <td><img src="images/eclipse.png" alt="" />Core Frameworks</td>
        <?php
        $zipfilename="dltk-python-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        $zipfilename="dltk-python-sdk-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        ?>
      </tr>
      <tr>
        <td class="bold"><img src="images/javascript.png" alt="" />Javascript IDE</td>
        <td><img src="images/eclipse.png" alt="" />Core Frameworks</td>
        <?php
        $zipfilename="dltk-javascript-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        $zipfilename="dltk-javascript-sdk-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        ?>
      </tr>
    </table>
  </div>
      
<!-- ***********  DLTK EXTENSIONS **************  -->
<div class="build_item">
    <h3>Dynamic Languages Toolkit Extensions</h3>
    <table><tr>
        <th width="135">Name</th>
	    <th width="220">Requirements</th>
	    <th width="210">Runtime Downloads</th>
   	    <th width="220">SDK Downloads</th>
      </tr>
      <tr>
        <td class="bold"><img src="images/xotcl.png" alt="" />XOTcl IDE</td>
                <td><img src="images/eclipse.png" alt="" />Core, <img src="images/tcl.png" alt="" />Tcl IDE</td>
        <?php
        $zipfilename="dltk-xotcl-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        $zipfilename="dltk-xotcl-sdk-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        ?>
      </tr>
    </table>
  </div>


  <div class="build_item">
    <h3>Dynamic Languages Toolkit Bundles</h3>
    <table>
      <tr>
        <td class="bold" width="375"><img src="images/eclipse.png" alt="" /><h5>+</h5><img src="images/ruby.png" alt="" />Ruby IDE</td>
        <?php
        $zipfilename="dltk-core-ruby-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td width="210"><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        $zipfilename="dltk-core-ruby-sdk-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td width="210"><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        ?>
      </tr>
      <tr>
        <td class="bold"><img src="images/eclipse.png" alt="" /><h5>+</h5><img src="images/python.png" alt="" />Python IDE</td>
        <?php
        $zipfilename="dltk-core-python-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        $zipfilename="dltk-core-python-sdk-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        ?>
      </tr>
      <tr>
        <td class="bold"><img src="images/eclipse.png" alt="" /><h5>+</h5><img src="images/tcl.png" alt="" />Tcl IDE</td>
        <?php
        $zipfilename="dltk-core-tcl-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        $zipfilename="dltk-core-tcl-sdk-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        ?>
      </tr>
      <tr>
        <td class="bold"><img src="images/eclipse.png" alt="" /><h5>+</h5><img src="images/ruby.png" alt="" /><h5>+</h5><img src="images/tcl.png" alt="" /><h5>+</h5><img src="images/python.png" alt="" /><h5>+</h5><img src="images/javascript.png" alt="" />All-in-1</td>
        <?php
        $zipfilename="dltk-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        $zipfilename="dltk-sdk-@build@-incubation";
        $filename=$zipfilename.".zip";
        $zipfilesize=fileSizeInMegs($filename);
        echo '<td><img src="images/download.png" alt="" /><a href="' . ${downloadprefix} . ${filename} . '">' . "Download " . '</a><h6>'.${zipfilesize}.'mb</h6><a href="checksum/' . ${filename} . '.md5"><img src="images/md5.png" alt="" /></a></td>';
        ?>
      </tr>
     </table>
    </div>


<!-- ***********  Build Status **************  -->
   <div class="build_item">
    <h3>Status, tests and other interesting details</h3>
    <table>
      <tr><td width="890">
        <?php
        $buildmachineScript="../../../displayBuildMachine.php";
        if (file_exists($buildmachineScript))
        {
                include $buildmachineScript;
                echo displayBuildMachine();
        }
        ?> 
        <a href="buildNotes.php">Build notes</a>
      </td></tr>
      <tr><td><a href="directory.txt">Map files</a></td></tr>
      <tr><td><?php
        if (isset($unitTests_grandTotalErrors)) {
                $errorColor="green";
                if ($unitTests_grandTotalErrors > 0) {
                        $errorColor="red";
                }
                echo "<a href=\"testResults.php\">Unit test results</a>";
                echo "<img src=\"junit_err.png\"/>" . $unitTests_grandTotalErrors . "&nbsp;Total: " . $unitTests_grandTotalTests;
        }
        else {
                echo "Unit tests are pending<!--img src=\"pending.gif\"/-->";
        }
        ?></td></tr>
      <tr><td><a href="compileResults.php">Compile logs: Code Bundles  
        <?php
        echo "<img src=\"plugins.png\"/>($code_totalBundles)";
        echo "<img src=\"compile_err.png\"/>$code_totalErrors";
        echo "<img src=\"compile_warn.png\"/>$code_totalWarnings";
        echo "<img src=\"access_err.png\"/>$code_totalforbiddenAccessWarningCount";
        echo "<img src=\"access_warn.png\"/>$code_totaldiscouragedAccessWarningCount";
        ?></a></td></tr>
        <tr><td><a href="testCompileResults.php">Compile logs: Test Bundles
        <?php
        echo "<img src=\"plugins.png\"/>($test_totalBundles)";
        echo "<img src=\"compile_err.png\"/>$test_totalErrors";
        echo "<img src=\"compile_warn.png\"/>$test_totalWarnings";
        echo "<img src=\"access_err.png\"/>$test_totalforbiddenAccessWarningCount";
        echo "<img src=\"access_warn.png\"/>$test_totaldiscouragedAccessWarningCount";
        ?></a></td></tr>
      <tr><td><a href="whatisfixed/buglog.html">What is fixed</a></td></tr>
      <tr><td><a href="pii.php">Unused property messages</a></td></tr> 		
    </table>
   </div>
  </div>
 </div>
 <div class="blue">
  <div id="footer">
    <p>All downloads are provided under the terms and conditions of the Eclipse.org Software User Agreement unless otherwise specified.</p>
    <p>If you have problems downloading the drops, contact the webmaster.</p>
  </div>
 </div>
</div>
</body>
</html>
