<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         id="sample"
         name="Sample Design Time DOM provider"
         point="org.eclipse.dltk.javascript.core.domprovider">
      <provider
            class="org.eclipse.dltk.javascript.core.dom.support.sample.SampleProvider"
            id="org.eclipse.dltk.javascript.core.dom.support.sample.provider1"
            name="Sample Provider">
      </provider>
   </extension>

</plugin>
